=render '/forms/show_fields', fields: Evaluation.get_meta_fields('show'), record: owner
=render '/forms/show_comment', owner: owner
=render '/forms/attachments_show', owner: owner, show_btn: false
