<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <%= render "access_controls/new_modal"%>
    <%=render "/shared/record_table_modal", :create_new => true%>
  </div>
</div>
