<div class="modal fade bs-example-modal-lg"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
  data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <!-- Content goes here -->
    </div>
  </div>
</div>


<style>
  .modal-dialog{
    width: 90% !important;
    min-height: 500px;
  }
</style>


