= javascript_include_tag \
    'utility/delete',
    'utility/bootstrap-datepicker',
    'utility/format-builder',
    'utility/nested_fields'

= hidden_field_tag(:reply_to, @reply_to.id) if @reply_to.present?

ruby:
  subject = ''
  if @reply_to.present?
    subject = "Re: #{@reply_to.subject}"
  elsif @owner.present? && @owner.respond_to?(:title)
    subject = "Re: [#{@owner.class.name}] #{@owner.title}"
  end

.col-xs-12
  = f.label :subject, 'Subject', class: 'control-label col-xs-2'
  .col-xs-10
    = f.text_field :subject, class: 'form-control', value: subject

.col-xs-12.mt10
  = f.label :to_list, 'TO', class: 'control-label col-xs-2'
  .col-xs-10
    p style='overflow-y:auto' id='to_list'

.col-xs-12.mt10
  = f.label :cc_list, 'CC', class: 'control-label col-xs-2'
  .col-xs-10
    p style='overflow-y:auto' id='cc_list'

.col-xs-12.mt10
  = f.label :distribution_list, 'Distribution List', class: 'control-label col-xs-2'
  .col-xs-6
    = select_tag :distribution_list,
      options_for_select(DistributionList.all.collect{|p| [p['title'], p['id']]}),
      {include_blank: true, class: 'form-control distribution_list'}

.col-xs-12.mt10
  = label_tag 'template', 'Template', class: 'control-label col-xs-2'
  .col-xs-6
    = select_tag 'template',
      options_for_select(CannedMessage.all.collect{|p| [p['name'], p['id']]}),
      include_blank: true, class: 'form-control template'

- if @owner.present?
  .col-xs-12.mt5
    = label_tag 'template', 'Attached', class: 'control-label col-xs-2'
    .col-xs-6
      strong
        - if @owner.present?
          = f.hidden_field :owner_type, value: @owner.class.name
          = f.hidden_field :owner_id, value: @owner.id
          = link_to "#{@owner.class.name} ##{@owner.id}", @owner, target: :_blank

/.col-xs-12.mt5
  .col-xs-12.col-xs-offset-2
    = check_box_tag :from_anonymous, 1, false
    = label_tag :from_anonymous, 'Message Anonymously', class: 'control-label ml5'

.col-xs-12.mt5
    = label_tag 'template', 'Do you want to send this message anonymously?', class: 'control-label col-xs-2'
    .col-xs-6.inner
      .col-xs-3
        = radio_button_tag :from_anonymous, 1
        = label_tag :from_anonymous, 'Yes', class: 'control-label ml5'
      .col-xs-3
        = radio_button_tag :from_anonymous, 0
        = label_tag :from_anonymous, 'No', class: 'control-label ml5'

- if @owner.present? && CONFIG::GENERAL[:attach_pdf_in_message].present?
  .col-xs-12.mt5
    = label_tag 'template', "Do you want to attach a Deidentified PDF version of #{@owner.class.name} ##{@owner.id} with the email?", class: 'control-label col-xs-2'
    .col-xs-6 style="vertical-align:middle;"
      .col-xs-3
        = radio_button_tag :attach_pdf, 1
        = label_tag :attach_pdf, 'Yes', class: 'control-label ml5'
      .col-xs-3
        = radio_button_tag :attach_pdf, 0
        = label_tag :attach_pdf, 'No', class: 'control-label ml5'

.col-xs-12.mt5
  .col-xs-12.mt10
    = f.text_area :content, class: 'form-control', rows: 15, id: 'content'

.col-xs-12.mt5
  #attachments.col-xs-11.row
  .col-xs-12 = link_to_add_fields 'Add an attachment', f, :attachments

= f.hidden_field :time, value: Time.now.utc

.row.mt5
  .col-xs-12.pull-right
    = f.submit action_name == 'new' ? 'Send Message' : action_name.titleize,
      class: 'btn btn-success pull-right ml5',
      disable_with: 'Sending...'
    = link_to 'Cancel', params[:link] || root_url,
      confirm: 'Are you sure?',
      disable_with: 'Redirecting...',
      class: 'btn btn-warning pull-right'

javascript:
  $(function() {
    $('.template').change(function() {
      var message_template_id = $(this).val()
      $.get(`#{canned_messages_path}/${message_template_id}`, function(data) {
        $('#content').val(data.data.content)
      });
    });

    recipients_table = $('#recipients').DataTable();

    $('.distribution_list').on('change', function() {
      var distribution_list_id = $(this).val();
      if (distribution_list_id !== '') {
        $.get('#{distribution_lists_path}/' + distribution_list_id, function(data) {
          var dist_users = data.data.user_ids;
          var allPages = recipients_table.cells().nodes();
          for(var i = 0; i < dist_users.length; i++) {
            var send_btn = $(allPages).find('.id_' + dist_users[i]);
            if (!send_btn.hasClass('selected')) {
              $(send_btn).click();
              $(send_btn).addClass('selected');
            }
          }
          renderRecipients(recipients_table);
        });
      }
    });

    $(document).ready(function() {
      renderRecipients(recipients_table);

      $("#recipients").on('click','.send_btn',function() {
        $(this).toggleClass('selected');
        renderRecipients(recipients_table);
      });

      $("#recipients").on('click','.cc_btn',function() {
        $(this).toggleClass('selected');
        renderRecipients(recipients_table);
      });

      var allPages = recipients_table.cells().nodes();
      $(".clear_btn").on('click',function() {
        $(allPages).find('.send_btn').each(function(data) {
          if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
          }
          if ($(this).hasClass('btn-danger') && !$(this).hasClass('disabled')) {
            $(this).removeClass('btn-danger').addClass('btn-transparent');
          }
        });
        $(allPages).find('.cc_btn').each(function(data) {
          if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
          }
          if ($(this).hasClass('btn-danger')) {
            $(this).removeClass('btn-danger').addClass('btn-transparent');
          }
        });
        renderRecipients(recipients_table);
      });
    });

  });

  function renderRecipients(recipients_table) {
    var to_user_ids = [];
    var cc_user_ids = [];
    recipients_table.rows().nodes().to$().each(function() {
      if ($(this).find('.send_btn').hasClass('btn-danger')) {
        to_user_ids.push($(this).attr('name'));
      }
      if ($(this).find('.cc_btn').hasClass('btn-danger')) {
        cc_user_ids.push($(this).attr('name'));
      }
    })
    document.getElementById("to_list").innerHTML = to_user_ids.sort().join(', ');
    document.getElementById("cc_list").innerHTML = cc_user_ids.sort().join(', ');
  }
