ruby:
  send_from = message.getAll('send_from')
  send_to = message.getAll('send_to')
  cc = message.getAll('cc')

.row.col-xs-12
  .col-xs-12
    .col-xs-12
      strong style='font-size: 20px;' = message.subject rescue 'N/A'
      .pull-right = message.get_time
  .col-xs-12.mt10
    .col-xs-2
      strong From:
    .col-xs-10 = send_from.html_safe
  .col-xs-12
    - if send_to.present?
      .col-xs-2
        strong To:
      .col-xs-10 = send_to.html_safe
    - if cc.present?
      .col-xs-2
        strong Cc:
      .col-xs-10 = cc.html_safe
  - if message.owner.present?
    .col-xs-12.mt10
      .col-xs-2
        strong Attached:
      .col-xs-10
        strong = link_to "#{message.owner_type} ##{message.owner_id}", message.owner, target: :_blank
  .col-xs-12.mt10.mb20
    hr
    .col-xs-12 = message.content.gsub(/\n/, '<br>').html_safe
  - if message.attachments.present?
    = render '/forms/attachments_show', owner: message, show_btn: false