<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <div class="panel-title">
          <%=@reply_to.present? ? "Re: "+@reply_to.subject : "New Message" %>
        </div>
      </div>
      <%=form_for @message, :html => {:multipart => true}, :class => "form-horizontal" do |f|%>
        <div class="panel-body">
          <div class="col-xs-5">
            <%=render 'recipients'%>
          </div>
          <div class="col-xs-7">
            <%=render 'message_content_form', f: f%>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>



