<script type="text/javascript" src="/javascripts/utility/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.16/sorting/natural.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/dataTables.bootstrap.min.css"/>

<div class="panel panel-lightskyblue">
  <div class="panel-heading click-heading">
    <div class="panel-title">
      <b>Included Events</b>
      <span class="pull-right clickable">
        <i class="mt5 glyphicon glyphicon-chevron-up"></i>
      </span>
    </div>
  </div>
  <div class="panel-body" style="overflow-x:scroll">
    <table>
      <tr>
        <td>
          <i class='glyphicon glyphicon-file btn btn-sm btn-info mb5 mr5 ml5'></i>
          <b>View Narrative </b>- View the Narrative summary for an Event.
        </td>
        <td>
          <i class='fa fa-link btn btn-sm btn-info mb5 mr5 ml5'></i>
          <b>View Event </b>- View an Event.
        </td>
      </tr>
      <tr>
        <td>
          <i class='glyphicon glyphicon-ok-circle btn-danger btn btn-sm mb5 mr5 ml5'></i>
          <b>Close Event </b>- Close an Event.
        </td>
        <td>
          <i class='glyphicon glyphicon-minus btn btn-sm btn-danger mb5 ml5 mr5'></i>
          <b>Carryover Event </b>- Remove an Event from the meeting.
        </td>
      </tr>
      <tr>
        <td>
          <i class='glyphicon glyphicon-list btn btn-sm btn-warning mb5 mr5 ml5'></i>
          <b>Agendas </b>- View or add Meeting Agendas
        </td>
        <td>
          <i class='glyphicon glyphicon-pencil btn btn-sm btn-success mb5 mr5 ml5'></i>
          <b>Add Meeting Minutes </b>- Add Meeting Minutes to the meeting
        </td>
      </tr>
    </table>

    <table class="table table-bordered table-striped" id="reports_table" style='font-size: 13px !important;'>
      <thead>
        <tr>
          <%@report_headers.each do |h|%>
            <th><%=h[:title]%></th>
          <%end%>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody id="all_meeting_events">
        <%=render '/meetings/included_event', events: @reports, meeting: @meeting%>
      </tbody>
    </table>
  </div>
</div>


<style>
  table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
    padding: 5px !important;

  }
</style>

<script>
  $(document).ready(function(){
    reports_table = $('#reports_table').dataTable({
      "paging": false,
      "columnDefs": [{ type: 'natural', targets: 0 }]
    });
    $("#reports_table").on('click', ".view_narrative_btn", function(){
      $.get($(this).attr('route'),function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $("#reports_table").on('click', ".agenda_btn", function(){
      $.get($(this).attr('route'),function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $("#reports_table").on('click', ".close_event_btn", function(){
      $.get($(this).attr('route'),function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $("#reports_table").on('click', ".minutes_btn", function(){
      $.get($(this).attr('route'),function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
  });
</script>
