<div class="panel panel-info inv_panel">
 	<div class="panel-heading">
 		<div class="panel-title">
   			<b>Invitation</b> 
 		</div>
 	</div>
	<div class="panel-body">
		<div class="row">
			<h4 class="ml15" id="inv_txt">Please Accept or Reject the invitation.</h4>
			<div class="pull-right mr5">
				<div id="inv_form">
					<%=form_for @current_inv,:remote=>true do |f|%>
		            	<%=f.submit "Accept",:class=>"btn btn-success accept-btn"%>
		            	<%=f.submit 'Reject',:class=>"btn btn-danger reject-btn"%>
		           	<%end%>
		        </div>
	        </div>
        </div>	   
    </div>
</div>
<script>
	var clicked="";
	$(".accept-btn").on('click',function(){
		clicked="Accepted";
	})
	$(".reject-btn").on('click',function(){
		clicked="Rejected";
	})
	$(document).ajaxSuccess(function(){
		$("tr[user=<%=@current_inv.users_id%>] td").eq(3).text(clicked);
		$("#inv_form").hide();	
		$("#inv_txt").text("You have "+clicked.toLowerCase()+" the invitation. Thank you.");
		$(".inv_panel").delay(5000).fadeOut(1000);
	});
</script>