<div class="table-responsive mt10">
  <table id="participants" class="table table-striped table-bordered">
    <thead>
      <tr>
        <%User.invite_headers.each do |header|%>
          <th><%=header[:title]%></th>
        <%end%>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <%User.includes(:invitations).where(id: @users.select(&:present?).map(&:id)).each do |user|%>
        <tr user="<%=user.id%>">
          <%User.invite_headers.each do |header|%>
            <td>
              <%=user.send(header[:field])%>
            </td>
          <%end%>
          <% invite_status = user.invitations.detect{|inv| inv.meetings_id == @meeting.id}.status rescue
            'Not Invited'%>
          <%if action_name == "new"%>
            <td><a class="btn btn-info invite_btn">Invite</a></td>
          <%elsif action_name == "show"%>
            <td><%=invite_status%></td>
          <%else%>
            <%if invite_status == "Not Invited"%>
              <td><a class="btn btn-info invite_btn">Invite</a></td>
            <%else%>
              <td><a class="btn btn-success invite_btn">Invited</a></td>
            <%end%>
          <%end%>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>
