log/*.log
tmp
public/uploads/**
public/exports/**
public/queries/**
cisp
app/assets/**
**/airline_code.yml
**/database.yml

mysqldumps/**
mitre/**
nasa/**

.byebug_history
*.svn

Gemfile.lock
db/schema.rb

lib/tasks/ultipro_data.xml
lib/tasks/ultipro_data_prior.xml
