<html>
	<body>
		<h3>Hello <%= @user.first_name %>, <br></h3>
		<h4>You have a new message from Meeting #<%=@meeting.id%>.</h4>  
		<%=@message.html_safe%>
		<br><br>
		<p>
			Thanks<br>
			Engineering Team<br>
			ProSafeT, LLC<br>
		</p>
	</body>
</html>