<html>
	<body>
		<h3>Hello <%= @user.first_name %>, <br></h3>
		<h4>You are invited to Meeting #<%=@meeting.id%>. <%=@link%></h4>  
		<%=render "meeting"%>
		<br><br>
		<p>
			Thanks<br>
			Engineering Team<br>
			ProSafeT, LLC<br>
		</p>
	</body>
</html>