<div class="panel panel-tan">
	<div class="panel-heading">
		<div class="panel-title">
			Upload Your Questions
		</div>
	</div>

	<div class="panel-body">
		<div class="row" style="max-height: 450px; overflow-y: auto;">
			<div class="col-xs-12">
				<%=link_to "Download Sample Questions Here", "/Sample_Questions.csv", :download => "Sample_Questions.csv"%><br>
				<%=label_tag :checklist_upload, "Select a file to upload"%>
				<%=file_field_tag :checklist_upload, 
					:class => "ml5", 
					:style => "display:inline-block",
					:accept => ".csv",
					:id => "csv"%>
			</div>
		</div>
	</div>
</div>

