<div class="col-xs-12">
	<%=link_to "Download Sample Questions Here", "/Sample_Records.csv", :download => "Sample_Records.csv"%><br>
	<%=label_tag :checklist_upload, "Select a file to upload"%>
	<%=file_field_tag :checklist_upload, 
		:class => "ml5", 
		:style => "display:inline-block",
		:accept => ".csv",
		:id => "csv"%>
</div>


