<div class="col-xs-12"%>
  <div class="panel clickable panel-info">
    <div class="panel-heading click-heading collapsed">
      <div class="panel-title">
        <b>
          <%=link_to "##{risk_control.get_id} #{risk_control.title}",
            risk_control_path(risk_control),
            :style => "color:white"%>
        </b>
        <span class="pull-right clickable"><i class="mt5 glyphicon glyphicon-chevron-down"></i></span>
      </div>
    </div>
    <div class="panel-body" style="display:none">
      <div class="row">
        <%=render "/forms/show_fields", :fields => RiskControl.get_meta_fields('show'), :record => risk_control%>
        <%=render "/forms/cost",  :owner => risk_control%>
      </div>
    </div>
  </div>
</div>
