<div class="col-xs-12 col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading click-heading collapsed">
      <div class="panel-title">
        <b>Grid View</b><span class="pull-right clickable"><i class="mt5 glyphicon glyphicon-chevron-up"></i></span>
      </div>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table id="stats_table" class="table table-striped table-bordered" width="100%">
          <thead>
            <tr>
              <th>ID</th>
              <th>Root Cause</th>
              <th>Count</th>
            </tr>
          </thead>
          <tbody>
            <%@root_causes.each_with_index do |(k, v), index|%>
              <tr>
                <td><%=index+1%></td>
                <td><%=k.name%></td>
                <td><%=v%></td>
              </tr>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



<script>

  $(function(){
    $('#stats_table').DataTable({
      dom: "<'row'<'col-xs-6'l><'col-sm-6'f>>" +
           "<'row'<'col-sm-12'tr>>" +
           "<'row'<'col-sm-5'i><'col-sm-7'p>>" +
           "<'row'<'col-sm-12'B>>",
      buttons: [
        'copy', 'csv', 'excel', 'print'
        //"pdf"//bug in pdf button for buttons 1.5.1 https://datatables.net/forums/discussion/46395/pdf-export-button-spinner-not-stopping
      ],
      "aLengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
      "iDisplayLength": 10,
      "aaSorting": [[0, "asc"]],
      "columnDefs": [{ type: 'natural', targets: 0 }],
    });
  });
</script>



