.col-xs-12
  .panel.panel-lightskyblue
    .panel-heading.click-heading.collapsed
      .panel-title
        b #{I18n.t("#{@i18nbase}.root_cause.title").pluralize}
        span.pull-right.clickable: i.mt5.glyphicon.glyphicon-chevron-down
    .panel-body style='display:none'
      .row
        .col-xs-12
          - if !%w[Rejected Completed].include?(owner.status) &&\
              current_user.has_access(owner.class.table_name, 'edit', admin: true)
            = link_to "Add #{I18n.t("#{@i18nbase}.root_cause.title")}",
              '#',
              :class => 'btn btn-success pull-right mr5',
              :id => 'add_root_cause_btn'

          . id='root_causes_table'
            = render '/root_causes/root_causes_table',
              :show_btns => show_btns,
              :owner => owner,
              :headers => headers

javascript:
  $(function(){

    $("#add_root_cause_btn").on("click", function(){
      console.log("here");
      $.get("#{new_root_cause_root_causes_path}", {'owner_id' : #{owner.id}, 'owner_type': "#{owner.class.name}", 'i18nbase': "#{@i18nbase}"});
    });


    $('#root_causes_table').on('click', ".delete_root_cause_btn", function(){
      if(confirm("Are you sure?")){
        btn = $(this);
        $.ajax({
          url: "#{root_causes_path}/" + $(this).data('cid'),
          type: "delete",
          success: function(){
            btn.closest('tr').detach();
          }
        });
      }
    });
  });
