<%if owner.recommendations.length > 0%>
  <div class="col-xs-12">
    <div class="panel panel-info">
      <div class="panel-heading click-heading collapsed">
        <div class="panel-title">
          <b>Recommendations</b>
          <span class="pull-right clickable">
            <i class="mt5 glyphicon glyphicon-chevron-down"></i>
          </span>
        </div>
      </div>
      <div class="panel-body" style="display:none">
        <div class="row">
          <%owner.recommendations.each do |recommendation|%>
            <div class="col-xs-12">
              <div class="panel panel-info">
                <div class="panel-heading click-heading collapsed">
                  <div class="panel-title">
                    <%=link_to "Recommendation ##{recommendation.id}: #{recommendation.title}",
                      recommendation.becomes(Recommendation)%>
                    <span class="pull-right clickable">
                      <i class="mt5 glyphicon glyphicon-chevron-down"></i>
                    </span>
                  </div>
                </div>
                <div class="panel-body" style="display:none">
                  <%cache("show_recommendations_#{recommendation.id}") do%>
                    <%=render '/recommendations/show', :owner => recommendation, :show_btn => show_btns%>
                  <%end%>
                </div>
              </div>
            </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
<%end%>
