.btn-pink {
  color:#FFFFFF;
  background-color: #FF69B4;
}
.btn-pink:hover {
  color:#FFFFFF;
  background-color: #DA70D6;
}

.btn-violet {
  color:#FFFFFF;
  background-color: #EE82EE;
}
.btn-violet:hover {
  color:#FFFFFF;
  background-color: #C71585;
}
.btn-black {
  color:#FFFFFF;
  background-color: #000000;
}
.btn-black:hover {
  color:#FFFFFF;
  background-color: #555555;
}

.btn-white {
  color:#000000;
  background-color: #FFFACD;
}
.btn-white:hover {
  color:#000000;
  background-color: #FFFFF0;
}
.btn-transparent {
  color:#000000;
  background: none;
  border: 1px solid #000000;
}
.btn-transparent:hover {
  color:#000000;
  border: 1px solid #000000;
  background-color: #E0E0E0;
}