.panel-pink > .panel-heading {
  color:#FFFFFF;
  background-color: #FFB6C1;
}
.panel-violet  > .panel-heading {
  color:#FFFFFF;
  background-color: #EE82EE;
}
.panel-black  > .panel-heading {
  color:#FFFFFF;
  background-color: #000000;
}

.panel-white  > .panel-heading {
  color:#000000;
  background-color: #FFFFF0;
}

.panel-khaki  > .panel-heading {
  color:#FFFFFF;
  background-color: #BDB76B;
}
.panel-purple  > .panel-heading {
  color:#FFFFFF;
  background-color: #663399;
}
.panel-salmon > .panel-heading {
  color:#FFFFFF;
  background-color: #E9967A;
}

 .top_buttons{
    display: inline-block;
 }
 .top_text{
    display: inline-block;
    padding-top: 5px;
 }