body {
  margin-top: 50px !important;
  font: normal 15px Verdana, Arial, sans-serif !important;
}

hr {
	margin-bottom: 2px !important;
	margin-top: 5px !important;
	border-top: 1px solid black !important;
}

table {
  font: normal 12px Verdana, Arial, sans-serif !important;
  page-break-inside: avoid !important;
  margin: 4px 0 4px 0;
}
table, tr, td, th, tbody, thead, tfoot {
  page-break-inside: avoid !important;
}

thead {
  display: table-row-group;
}

th {
  text-align: center;
}

td {
  text-align: center;
}

.table_area{
  width: 600px;
}

.title{
  margin-bottom: 5px;
  font: normal 18px Verdana, Arial, sans-serif;
  font-weight: bold;
}

.sub_title{
  margin-bottom: 5px;
  font: normal 16px Verdana, Arial, sans-serif;
  font-weight: bold;
}

.sub_sub_title{
  margin-top: 5px;
  margin-bottom: 2px;
  font: normal 16px Verdana, Arial, sans-serif;
  font-weight: bold;
}

.category{
  border: 1px solid black;
  margin-bottom:10px;
  padding: 3px;
}

.grid_block{
  display: inline-block;
  width: 280px;
  margin-right: 5px;
  margin-left:  5px;
  margin-bottom: 3px;
  margin-top:2px;
}

.line_block{
  display: inline-block;
  width: 590px;
  margin-right: 5px;
  margin-left:  5px;
  margin-bottom: 5px;
  margin-top: 5px;
  border: 1px solid black;
}

