<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <%=render "/forms/index_fields", :btns => [
        {btn_name: 'New', btn_path: new_template_path, btn_class: 'btn-success'},
      ]%>
  </div>
</div>
