<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <%=render "/shared/record_table",
      :btn_name => "New",
      :btn_path => new_template_path,
      :panel => 'steelblue'%>
  </div>
</div>
