<div class="item active mt50" style="height:auto;">
  <%btns = [{btn_name: 'New', btn_path: new_template_path, btn_class: 'btn-success'}]%>
  <%if ["ProSafeT Engineering", "ProDIGIQ Incorp"].include? (current_user.full_name)%>
      <%btns += [{btn_name: 'Upload', modal: true, btn_class: 'btn-primary', class_id: 'upload_template_btn'}]%>
  <%end%>
  <div class="grid per90 center-block">
    <%=render "/forms/index_fields", :btns => btns %>
  </div>
</div>


<script>
$(function(){
  $('#upload_template_btn').on('click',function(){
    $.get("<%=upload_view_templates_path%>",
      function(data){
      $(".modal-content").html(data);
      $(window).trigger('resize');
    });
  });
});
</script>
