<%if owner.completions.present?%>
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading click-heading collapsed">
        <div class="panel-title">
          Completion List
          <span class="pull-right clickable">
            <i class="mt5 glyphicon glyphicon-chevron-down"></i>
          </span>
        </div>
      </div>

      <div class="panel-body" style="display:none">
        <div class="table-responsive">
          <table style="width:100%"
            class="table table-bordered table-striped user-list-table">
            <thead>
              <tr>
                <th style="width:10%">Serial</th>
                <th style="width:45%">User</th>
                <th style="width:45%">Read Date</th>
              </tr>
            </thead>
            <tbody>
              <%owner.completions.reverse!.each_with_index do |c, ind|%>
                <tr>
                  <td><%=ind + 1%></td>
                  <td><%=c.get_user_name%></td>
                  <td>
                    <%=c.complete_date.strftime("%Y-%m-%d")%>
                  </td>
                </tr>
              <%end%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<%end%>

<script type="text/javascript">

  $('.user-list-table').DataTable({
    "aLengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
    "iDisplayLength": 10,
  });

</script>
