<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <%=render "/forms/index_fields", :from_recurrence => true, :form_type => @form_type%>
  </div>
</div>
