/* No border radius */
/**:not(.swal2-icon):not(.placeholder):not(.swal2-progresscircle):not(.swal2-loading):not(.pace-activity) { border-radius: 0px; }*/

.nav-dropdown-label {
  padding: 10px 20px !important;
  background-color: #f7f9fe;
  font-weight: bold;
  font-style: italic;
}

a:hover, a:active, a:focus { text-decoration: none; }
textarea { resize: vertical; }
hr { width: 80%; }

table.dataTable tbody td {
  vertical-align: middle;
  word-break: break-all;
}

.control-label { padding-top: 7px; text-align: left !important;}
.glyphicon { font-size: 1.25em; vertical-align: middle; }

svg > g > g:last-child { pointer-events: none }

/*********************
*  Sweet Alert CSS  *
*********************/
  .swal2-modal { font-family: "Quattrocento Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important; }
  .swal2-modal .swal2-title { line-height: 40px !important; }
  .swal2-modal.swal2-show { margin:auto; }
  .swal-template{ display: none !important; }
  .swal2-show { overflow-x: auto !important; }

  .swal2-modal .flatpickr-wrapper { display: block; }
  .swal2-modal .flatpickr-calendar.static { position: relative; }
  .flatpickr-wrapper,
  .flatpickr-wrapper .flatpickr-calendar,
  .flatpickr-wrapper .flatpickr-rContainer,
  .flatpickr-wrapper .flatpickr-days { width: 100% }
  .swal2-modal .dayContainer, .swal2-modal .flatpickr-day { min-width: auto; max-width: none; }  

/************************
*  Panel Controls CSS  *
************************/
  .panel-controls > a { padding: 7px 12px !important; }
  .panel-controls > a + a { margin-left: 5px; }
  .panel-controls > form {display: inline-block;}  

/********************************
*  Showbox (display data) CSS  *
********************************/
  .showbox {
    word-break: keep-all;
    min-height: 40px;
    padding: 9px;
    background-color: white;
    border: 1px solid #e3e3e3;
  }
  .showbox-lg {
    min-height: 60px !important;
  }

/*********************************
*  Printing/PDF Formatting CSS  *
*********************************/
  .pdf_unhide { display: none !important; }
  @media print {
    .pdf_hide   { display: none !important; }
    .pdf_unhide { display: block !important; }

    .tab-content > .tab-pane {
        display: block !important;
        opacity: 1 !important;
        visibility: visible !important;
    }
    .nav-tabs { display: none; }  
    .tab-pane:not(:last-child) { page-break-after: always; }

    a[href]:after { content: none !important; }
    @page { size: auto; margin: 0mm; }

    .well { border: 0px; }
  }

/****************************
*  Custom Panels/Tabs CSS  *
****************************/
  .panel-blue > .panel-heading {
    background-color: #B3D7EC;
    border-color: #ddd;
  }

  .nav-tabs-blue > li.active > a, .nav-tabs-blue > li.active > a, .nav-tabs-blue > li.active > a:hover, .nav-tabs-blue > li.active > a:focus {
    background-color: #B3D7EC;
    color: #444444;
  }

  .panel-orange > .panel-heading {
    color: #444444;
    background-color: #ffc266;
    border-color: #ddd;
  }

  .panel-purple > .panel-heading {
    background-color: #d699ff;
    border-color: #bf80ff;
    color: white;
  }

  .nav-tabs-purple > li.active > a, .nav-tabs-purple > li.active > a, .nav-tabs-purple > li.active > a:hover, .nav-tabs-purple > li.active > a:focus {
    background-color: #d699ff;
    color: #fff;
  }

/**************************
*  Dropdown Submenu CSS  *
**************************/
  .dropdown-submenu { position:relative; }
  .dropdown-submenu > .dropdown-menu {
      top:0;
      left:100%;
      margin-top:-6px;
      margin-left:-1px;
      -webkit-border-radius:0 6px 6px 6px;
      -moz-border-radius:0 6px 6px 6px;
      border-radius:0 6px 6px 6px;
  }
  .dropdown-submenu:hover > .dropdown-menu { display:block; }
  .dropdown-submenu > a:after {
      display:block;
      content:" ";
      float:right;
      width:0;
      height:0;
      border-color:transparent;
      border-style:solid;
      border-width:5px 0 5px 5px;
      border-left-color:#cccccc;
      margin-top:5px;
      margin-right:-10px;
  }
  .dropdown-submenu:hover > a:after { border-left-color:#ffffff; }
  .dropdown-submenu.pull-left { float:none; }
  .dropdown-submenu.pull-left > .dropdown-menu {
      left:-100%;
      margin-left:10px;
      -webkit-border-radius:6px 0 6px 6px;
      -moz-border-radius:6px 0 6px 6px;
      border-radius:6px 0 6px 6px;
  }