
fieldset.greyFields {
	background-color:#eeeeee;
	color: #555;
	margin-bottom:10px;
}
legend {
	font-weight:bold;
	padding:0px 10px;
}
.white_grid {
	width:100%;
	background-color:#FFFFFF;
        margin-top:20px;
	padding-left:15px;
	padding-right:15px;
	padding-top:10px;
	border:solid 1px #999999;
	min-height:30px;
	-webkit-box-shadow: rgba(0,0,0,.199219) 2px 2px 8px;
	-moz-box-shadow: rgba(0,0,0,.199219) 2px 2px 8px;
	box-shadow: rgba(0,0,0,.199219) 2px 2px 8px;
font-size:smaller;
}
/*width depends on # items per line 100/4 */
.gatewayModules{
	float: left; 
	width:33%;
}
/*width depends on # items per line 100/3 */
.gatewaySystems{
	float: left; 
	width: 25%;
}