<%if owner.corrective_actions.length > 0%>
  <div class="col-xs-12">
    <div class="panel panel-info">
      <div class="panel-heading click-heading collapsed">
        <div class="panel-title">
          <b>Corrective Actions</b>
          <span class="pull-right clickable">
            <i class="mt5 glyphicon glyphicon-chevron-down"></i>
          </span>
        </div>
      </div>
      <div class="panel-body" style="display:none">
        <div class="row">
          <%owner.corrective_actions.each do |car|%>
            <div class="col-xs-12">
              <div class="panel panel-info">
                <div class="panel-heading click-heading collapsed">
                  <div class="panel-title">
                    <%=link_to "Corrective Action ##{car.id}: #{car.title}",
                      car.becomes(SmsAction)%>
                    <span class="pull-right clickable">
                      <i class="mt5 glyphicon glyphicon-chevron-down"></i>
                    </span>
                  </div>
                </div>
                <div class="panel-body" style="display:none">
                  <%cache("show_sms_actions_#{car.id}") do%>
                    <%=render '/sms_actions/show', :owner => car, :show_btn => show_btns%>
                  <%end%>
                </div>
              </div>
            </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
<%end%>
