<%if owner.findings.length > 0%>
  <div class="col-xs-12">
    <div class="panel panel-info">
      <div class="panel-heading click-heading collapsed">
        <div class="panel-title">
          <b>Findings</b>
          <span class="pull-right clickable">
            <i class="mt5 glyphicon glyphicon-chevron-down"></i>
          </span>
        </div>
      </div>
      <div class="panel-body" style="display:none">
        <div class="row">
          <%owner.findings.each do |finding|%>
            <div class="col-xs-12">
              <div class="panel panel-info">
                <div class="panel-heading click-heading collapsed">
                  <div class="panel-title">
                    <%=link_to "Finding ##{finding.id}: #{finding.title}",
                      finding.becomes(Finding)%>
                    <span class="pull-right clickable">
                      <i class="mt5 glyphicon glyphicon-chevron-down"></i>
                    </span>
                  </div>
                </div>
                <div class="panel-body" style="display:none">
                  <%=render '/findings/show', :owner => finding, :show_btn => show_btn%>
                </div>
              </div>
            </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
<%end%>
