<div class="col-xs-12">
  <div class="panel panel-lightskyblue">
    <div class="panel-heading click-heading collapsed">
      <div class="panel-title">
        <b>Causes</b>
        <span class="pull-right clickable">
          <i class="mt5 glyphicon glyphicon-chevron-down"></i>
        </span>
      </div>
    </div>

    <% causes = Cause.where(obj_id: owner.obj_id) %>

    <div class="panel-body" style="display:none">
      <div class="row">
        <div class="col-xs-12">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Label</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <% causes.each do |cause|%>
                <% next if cause.value.empty? || cause.value == "\"\"" %>
                <tr>
                  <td><%="#{cause.category.titleize} > #{cause.attr.titleize}"%></td>
                  <% if cause.value == "0"%>
                    <td><%='No'%></td>
                  <% elsif cause.value == "1"%>
                    <td><%='Yes'%></td>
                  <% else %>
                    <td><%="#{cause.value}".gsub('"','')%></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

