<div class="col-xs-12 col-sm-6">
	<div class="panel panel-default">
		<div class="panel-heading click-heading collapsed">
			<div class="panel-title">
				<b><%=@label%></b>
			</div>
		</div>
		<div class="panel-body">
			<div class="row">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#chart" onclick="drawPieChart();">Pie Chart</a></li>
					<li><a data-toggle="tab" href="#chart" onclick="drawBarChart();">Bar Chart</a></li>
				</ul>

				<div class="tab-content">
					<div id="chart" class="tab-pane fade in active">
						<div id="chart_div" style="width: '100%'"></div>
						<div class="mr5" id="chart_download" align="right"></div> 
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<script>
	google.charts.load("current", {packages:["corechart"]});
	google.charts.setOnLoadCallback(drawBarChart);
	google.charts.setOnLoadCallback(drawPieChart);
	var colorArray = colorInterpolation(<%=@data.length%>);
	


	$(window).bind('resizeEnd', function(){
		drawBarChart();
		drawPieChart();
	});

</script>






