<%@record = owner%>
<%@headers = Checklist.get_meta_fields('index')%>
<div class="item active mt50" style="height:auto;">
	<div class="grid per90 center-block">
		<%=render "/forms/index_fields"%>
	</div>
</div>