<%load_options%>

<div class="col-xs-12"%>
  <div class="panel panel-lightskyblue">
    <div class="panel-heading click-heading collapsed">
      <div class="panel-title">
        <b>Baseline Risk Assessment</b><span class="pull-right clickable"><i class="mt5 glyphicon glyphicon-chevron-down"></i></span>
      </div>
    </div>
    <div class="panel-body" style="display:none">
      <div class="row col-xs-12">
        <%=render '/shared/baseline_content', :f => f%>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function(){
    $("#<%=owner.severity%>-<%=Investigation.get_likelihood.index(owner.likelihood)%>").html("<span class='glyphicon glyphicon-remove' style='color:red'></span>");
    $('#sev').on('change',function(){
      reset_risk();
    });
    $('#like').on('change',function(){
      reset_risk();
    });
  });
</script>
