<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">
            <b>Select Employee</b>
            <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </div>
        </div>
        <%employee_header = User.get_headers%>
        <div class="panel-body">
          <div class="row">
            <div class='col-xs-12'>
              <table class="table table-hover table-striped table-bordered" id="users">
                <thead>
                  <tr>
                    <%employee_header.keys.each do |k|%>
                      <th><%=k%></th>
                    <%end%>
                  </tr>
                </thead>
                <tbody>
                  <%User.find(:all).each do |u|%>
                    <tr uid="<%=u.id%>" class="list_tr">
                      <%employee_header.values.each do |v|%>
                        <td><%=u.send(v)%></td>
                      <%end%>
                    </tr>
                  <%end%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
