<div class='col-xs-12'>
  <div class="col-xs-12 alert alert-info alert-dismissible show" role="alert">
    <h4>
      <b>Instructions:</b>
      <button type="button"
        class="close pull-right mr20"
        data-dismiss="alert"
        aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </h4>
    <p>
      <%=instruction.html_safe%>
    </p>
  </div>
</div>
