<% if !defined?(instruction) %>
    <% instruction = "" %>
<% end%>

<% if include_workflow_diagram %>
    
    <% if instruction.present? %>
      <%instruction = instruction + "<br/><br/>" %>
    <%end%>

    <%  instruction = instruction + "<p><button id ='toggleWorkflowImageButton' type='button' class='btn btn-light' >Show Workflow Image</button>"
        instruction = instruction + "</p>"
        instruction = instruction + "<div class='workflow-image-container'><div class='workflow-image'><img id='workflowImage' src = ''></div></div>"
    %>
<% end %>

<% if instruction.present? %>
  <div class="col-xs-12">
    <div class='col-xs-12'>
      <div class="col-xs-12 alert alert-info alert-dismissible show" role="alert">
        <h4>
          <b>Instructions:</b>
          <button type="button"
            class="close pull-right mr20"
            data-dismiss="alert"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </h4>
        <p>
          <%=instruction.html_safe%>
        </p>
      </div>
    </div>
  </div>
<% end %>


<style>
  #workflowImage{
    display: none;
    width: 100%;
    height: auto;
    padding: 2%;
  }

  .workflow-image-container {
    width: 60%;
    height: auto;
  }

  .workflow-image {
    position: relative;
    top: 50%;
    left: 35%;
  }
</style>

<script> 
  $(document).ready(function(){
    
    <% if include_workflow_diagram %>
      <% if @has_status%>
        $("#workflowImage").attr('src', '<%= "/images/workflow_diagram/#{AIRLINE_CODE}/#{owner.class.name}_#{owner.status.downcase.parameterize.underscore}.png" %>')
      <% else %>
        $("#workflowImage").attr('src', '<%= "/images/workflow_diagram/#{AIRLINE_CODE}/#{owner.class.name}_#{action_name}.png" %>')
      <% end %>
    <% end %>

    $("#toggleWorkflowImageButton").on('click', function(event){
      event.preventDefault();
      if ($("#workflowImage").is(":visible")){
        $("#workflowImage").delay(1).hide("slow")
        $("#toggleWorkflowImageButton").html("Show Workflow Image")
      }
      else{
        $("#workflowImage").delay(1).show("slow")
        $("#toggleWorkflowImageButton").html("Hide Workflow Image")
      }
    });
  });
</script>