div id='loader1'
  .centered.loader1
  .loading-text Loading

css:
  .centered {
    margin: auto;
    width: 50%;
    border: 3px solid white;
    padding: 10px;
  }
  .loading-text {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
  }
  #loader1, #loader2, #loader3 {
    display: none;
  }
  .loader1, .loader2, .loader3 {
    text-align: center;
    animation: spin 1s ease-in-out infinite;
    width: 50px;
    height: 50px;
    -webkit-animation: spin .8s ease-in-out infinite;
  }
  .loader1 {
    border: 5px solid rgba(255, 255, 255, .5);
    border-radius: 80%;
    border-top-color: #33b5e5;
  }
  .loader2 {
    border: 5px solid rgba(255, 255, 255, .3);
    border-radius: 80%;
    border-top-color: coral;
  }
  .loader3 {
    border: 5px solid rgba(255, 255, 255, .3);
    border-radius: 80%;
    border-top-color: #00c851;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% {transform: rotate(360deg); }
  }
