<div class="col-xs-12">
	<a class="btn" 
		id='view_instructions_btn',
		data-toggle="modal",
		data-target=".bs-example-modal-lg">
		View Instructions
		<span class="glyphicon glyphicon-info-sign"></span>
	</a>
</div>

<div id="view_instructions" style="display:none">
	<div class="panel-lightskyblue">
		<div class="panel-heading">
			<div class="panel-title">
				Instructions
				<button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</div>
		</div>
		<div class="panel-body" style="max-height: calc(100vh - 210px);overflow-y:auto">
			<div class="col-xs-12">
				<div class="well instruction_well">
					<%=owner.get_instructions.html_safe rescue 
						'<b style="color:red">No Available Instruction.</b>'.html_safe%>
				</div>
			</div>
		</div>
	</div>
</div>


<style>
	.instruction_well li{
		font-weight:normal!important;
	}
</style>


<script>
	$('#view_instructions_btn').on('click',function(){
		$(".modal-content").html($("#view_instructions").html());
		$(window).trigger('resize');
	});
</script>