= javascript_include_tag "/javascripts/utility/validate-form.js"
= javascript_include_tag "/javascripts/utility/extra_fields.js"
= form_for @owner do |f|

  .panel-warning
    .panel-heading
      .panel-title
        | Subscriber List for Query ##{@owner.id}
        button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"
          span class="glyphicon glyphicon-remove"

    .panel-body
      .col-xs-12
        .span4.collapse-group
          a class="btn" data-toggle="collapse" data-target="#viewinstruction"
            | View Instructions &raquo;
          .collapse id="viewinstruction"
            .col-xs-12
              .col-xs-12.well
                ol
                  li Click on +Subscriber to add a new subscription
                  li Select a Subscriber from the dropdown menu
                  li Select a Frequency: Daily, Weekly, or Monthly
                  li Selecting Day:
                  ul
                    li Daily - Day Field is left empty
                    li Weekly - Enter a day from 1 to 7. For example, 1 for <i>Monday</i>, 2 for <i>Tuesday</i>, 7 for <i>Sunday</i>. Mail is not sent if no input is given.
                    li Monthly - Enter the day of the Month to send mail. For example, 12 for the 12th day of a month. Mail is not sent if no input is given.<br><span style="color:red">Do not</span> enter a series of numbers in this field. For example, "1,2,3", "1-3", "1;2;3" are <span style="color:red">invalid inputs</span>. To send mail on multiple days weekly or monthly to the same subscriber, click on +Subscriber and select the same subscriber and frequency again. Then input a new number to the Day field.</br>

                  li To delete a Subscriber click on the delete button <span class="glyphicon glyphicon-trash"/> under Actions
                .div style="padding:10px; background-color:white"
                  b Note
                  ul
                    li If no Visualization is added to Query, then the mailed attachment will have an empty Visualization section.
      = f.submit 'Save Subscription List',
        class: 'btn btn-success pull-right mb20',
        "data-tt-toggle"=>"tooltip",
        "data-placement"=>"top",
        "title"=>"Subscribers will receive aggregated data updates from Added Visualizations",
        disable_with: 'Saving...'

      .col-xs-12.subscriptions.insertposition
        table.table.table-bordered
          thead
            - Subscription.get_meta_fields('form').each do |field|
              th = label_tag field[:field], field[:title], class: "#{field[:required] ? 'required_label' : ''}"
            th Actions

          tbody.subscriptions-insertposition
            - @owner.subscriptions.each do |subscription|
              = f.fields_for :subscriptions, subscription do |ff|
                = render 'shared/subscription_field',
                  f:ff,
                  locals: {existing:true, record:subscription}

        = link_to_add_fields '+ Subscriber', f,
          :subscriptions,
          {existing:false},
          {class: 'btn btn-sm btn-outline-success pull-right mr20'},
          partial: 'shared/subscription_field'



datalist id="users_list"
  - User.active.each do |user|
    option[
      value=%Q[#{user.get_search_detail}]
      data-id="#{user.id}"]


javascript:
  $('[data-tt-toggle="tooltip"]').tooltip()
  $(function(e) {

    $(document).on('change', '.user_field', function(){
      var selected = escapeStr($(this).val());
      var form_id = $('#users_list option[value="' + selected +'"]').attr('data-id');
      $(this).next('.form_id').val(form_id)
    });


    $(document).on('click', '.delete-btn', function(e) {
      e.preventDefault();
      if ($(this).closest('tr').find('.archived-field').hasClass('db-record')) {
        $(this).closest('tr').find('.archived-field').val(true);
        $(this).closest('tr').hide();
      } else {
        $(this).closest('tr').remove();
      }
    });


  });


  //function to add nested attributes
  function add_fields(link, association, content, target) {
    console.log('link: ' + link + ', association: ' + association + ', target: ' + target);
    var new_id = new Date().getTime();
    var regexp = new RegExp("new_" + association, "g")
    var insertposition = "." + target + '-insertposition';
    var new_content = content.replace(regexp, new_id);
    $(content.replace(regexp, new_id)).appendTo($(link).closest(".insertposition").find(insertposition));
  }


  function removeField(deletable){
    event.preventDefault();
    $(deletable).closest('.deletable').remove();
  }
