<footer>
	<div class="version">
		<h4><b>© <%=Time.now.year%> ProSafeT</b></h4>
		<b>Version <%=BaseConfig.airline[:version]%></b>
	</div>
</footer>


<style>

	footer {
		position: relative;
		height: 300px;
		width: 100%;
	}

	.version {
		position: absolute;
		width: 100%;
		text-align: center;
		bottom:0;
		font-weight: bold;
		color: #6b6b6b;
	}

</style>