

<% if CONFIG::GENERAL[:display_workflow_diagram] %>
    <% if defined?(instruction) %>
      <%instruction = instruction + "<br/><br/><p>" %>
    <% else %>
        <% instruction = "<p>" %>
    <%end%>
    <%  instruction = instruction + "<button id ='toggleWorkflowImageButton' type='button' class='btn btn-light' >Show Workflow Image</button>"
        instruction = instruction + "</p>"
        instruction = instruction + "<img id='workflowImage' class = 'workflowImg' src = ''>"
    %>
<% end %>
<% if !instruction.nil? %>
  <div class="col-xs-12">
    <%=render "shared/instructions", :instruction => instruction%>
  </div>
<% end %>

<style>
  #workflowImage{
    display: none;
    width: 100%;
    height: auto;
    padding: 2%;%
  }
</style>

<script> 
$(document).ready(function(){
    <% if CONFIG::GENERAL[:display_workflow_diagram] && owner.class.name == "Submission"%>
        $("#workflowImage").attr('src', '<%= "/images/workflow_diagram/#{AIRLINE_CODE}/#{owner.class.name}_new.png" %>')
    <% elsif CONFIG::GENERAL[:display_workflow_diagram] && (action_name == 'new' || action_name == 'continue') %>
        $("#workflowImage").attr('src', '<%= "/images/workflow_diagram/#{AIRLINE_CODE}/#{owner.class.name}_#{action_name}.png" %>')
    <% elsif CONFIG::GENERAL[:display_workflow_diagram] && (action_name == 'edit' || action_name == "show")  %>
        $("#workflowImage").attr('src', '<%= "/images/workflow_diagram/#{AIRLINE_CODE}/#{owner.class.name}_#{owner.status.downcase.parameterize.underscore}.png" %>')
    <% end %>
    $("#toggleWorkflowImageButton").on('click', function(event){
        event.preventDefault();

        if($("#workflowImage").is(":visible")){
        $("#workflowImage").delay(1).hide("slow")
        $("#toggleWorkflowImageButton").html("Show Workflow Image")
        }else{
        $("#workflowImage").delay(1).show("slow")
        $("#toggleWorkflowImageButton").html("Hide Workflow Image")
        }
    });

  });
</script>