- if owner.status == 'Pending Approval' && \
  (!owner.respond_to?('can_approve?') || owner.can_approve?(current_user))
  = link_to 'Approve',
    '#',
    class: 'btn btn-success pull-right approve_btn mr5 mb5',
    id: 'approve',
    'data-toggle' => 'modal',
    'data-target' => '.bs-example-modal-lg'
  = link_to 'Reject',
    '#',
    class: 'btn btn-danger pull-right approve_btn mr5 mb5',
    id: 'reject',
    'data-toggle' => 'modal',
    'data-target' => '.bs-example-modal-lg'

javascript:
  $('.approve_btn').on('click',function(){
    var commit=$(this).attr('id');
    $.get('#{eval("approve_#{owner_class}_path(owner)")}?commit='+commit,function(data){
      $(".modal-content").html(data);
      $(window).trigger('resize');
    });
  });
