- if owner.status == 'Assigned' && \
  BaseConfig.airline[:checklist_version] == '1' && \
  owner.items.present?
  = link_to 'Update Checklist',
    '#',
    class: 'btn btn-warning pull-right mr5 mb5',
    id: 'update_checklist_btn',
    'data-toggle' => 'modal',
    'data-target' => '.bs-example-modal-lg'

- if !['Pending Approval', 'Completed'].include? owner.status

  - if BaseConfig.airline[:checklist_version] == '2'
    = link_to 'Add Checklist',
      '#',
      class: 'btn btn-info pull-right mr5 mb5',
      id: 'select_checklist_btn',
      'data_toggle' => 'modal',
      'data-target' => '.bs-example-modal-lg'

  - if BaseConfig.airline[:checklist_version] == '1' || owner_class != 'audit'
    = link_to 'Upload Checklist',
      '#',
      class: 'btn btn-success pull-right mr5 mb5',
      id: 'checklist_btn',
      'data-toggle' => 'modal',
      'data-target' => '.bs-example-modal-lg'

javascript:
  $('#update_checklist_btn').on('click',function(){
    $.get('#{eval("update_checklist_#{owner_class}_path(owner)")}',function(data){
      $(".modal-content").html(data);
      $(window).trigger('resize');
    });
  });

  $("#select_checklist_btn").on('click', function(){
    $.get('#{eval("select_checklist_checklist_templates_path")}?owner_class=#{owner_class}&owner_id=#{owner.id}',
      function(data){
      $(".modal-content").html(data);
      $(window).trigger('resize');
    });
  });

  $('#checklist_btn').on('click',function(){
    $.get('#{eval("new_checklist_#{owner_class}_path(owner)")}',function(data){
      $(".modal-content").html(data);
      $(window).trigger('resize');
    });
  });
