- if owner.status == 'Assigned' && \
  (!owner.respond_to?('can_complete?') || owner.can_complete?(current_user))
  = link_to 'Complete',
    '#',
    class: 'btn btn-warning pull-right complete_btn mr5 mb5',
    id: 'complete',
    'data-toggle' => 'modal',
    'data-target' => '.bs-example-modal-lg'

javascript:
  $('.complete_btn').on('click',function(){
    var commit=$(this).attr('id');
    $.get('#{eval("complete_#{owner_class}_path(owner)")}?commit='+commit, function(data){
      $(".modal-content").html(data);
      $(window).trigger('resize');
    });
  });
