= link_to 'Add Comment',
  '#',
  class: 'btn btn-success pull-right mr5 mb5',
  id: 'comment_btn',
  'data-toggle' => 'modal',
  'data-target' => '.bs-example-modal-lg'

javascript:
  $('#comment_btn').on('click',function(){
    $.get('#{eval("comment_#{owner_class}_path(owner)")}',function(data){
      $(".modal-content").html(data);
      $(window).trigger('resize');
    });
  });
