- if !['Pending Approval', 'Completed'].include? owner.status
  = link_to 'Add Contact',
    '#',
    class: 'btn btn-success pull-right mr5 mb5',
    id: 'contact_btn',
    'data-toggle' => 'modal',
    'data-target' => '.bs-example-modal-lg'

javascript:
  $('#contact_btn').on('click',function(){
    $.get('#{eval("new_contact_#{owner_class}_path(owner)")}',function(data){
      $(".modal-content").html(data);
      $(window).trigger('resize');
    });
  });
