= link_to 'De-ID PDF',
  eval("print_#{owner_class}_path(@audit, format: :pdf, deidentified: true)"),
  'data-toggle' => 'tooltip',
  title: 'View De-Identified PDF',
  class: 'btn btn-darkturquoise pull-right mr5 mb5'
