- if owner.status != 'Completed' && ( \
  current_user.admin? || \
  current_user.has_access(permission,'admin') || \
  current_user.has_access(permission,'edit'))
  = link_to 'Edit',
    eval("edit_#{owner_class}_path(owner)"),
    class: 'btn btn-warning pull-right mr5 mb5',
    disable_with: 'Editing...'
