- if current_user.has_access(permission,'admin', admin: CONFIG::GENERAL[:global_admin_default], strict: true)
  = link_to 'Override Status',
    '#',
    class: 'btn btn-danger pull-right mr5 mb5',
    id: 'override_status_btn',
    'data-toggle' => 'modal',
    'data-target' => '.bs-example-modal-lg'

javascript:
  $('#override_status_btn').on('click',function(){
    $.get('#{eval("override_status_#{owner_class}_path(owner)")}', function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
    });
  });
