ruby:
  owner_class = "#{owner.class.name.downcase}"
  permission = "#{owner_class}s"
- btns.each do |btn|
  = render "/forms/btns/#{btn}_btn", owner: owner, owner_class: owner_class, permission: permission
