- if CONFIG::GENERAL[:has_verification] && owner.status == 'Completed'
  = link_to 'Schedule Verification',
    '#',
    class: 'btn btn-warning pull-right mr5',
    id: 'verification_btn',
    'data-toggle' => 'modal',
    'data-target' => '.bs-example-modal-lg'

javascript:
  $("#verification_btn").on("click", function(){
    $(".modal-content").html("");
    $.get('#{new_verification_path(owner_type: owner.class.name, owner_id: owner, user_id: (owner.approver.id rescue nil))}',
        function(data){
      $(".modal-content").html(data);
      $(window).trigger('resize');
    });
  });
