<script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
= link_to "Sign #{owner_class.titleize}",
  '#',
  class: 'btn btn-danger pull-right mr5 mb5',
    id: 'sign_btn',
    'data-toggle' => 'modal',
    'data-target' => '.bs-example-modal-lg'

javascript:
  $('#sign_btn').on('click',function(){
    $(".modal-content").html("");
    $.get('#{eval("new_signature_#{owner_class}_path(owner)")}',function(data){
      $(".modal-content").html(data);
      $(window).trigger('resize');
    });
  });
