- if owner.record.present? && current_user.has_access('ASAP','module')
  = link_to 'View Report',
    record_path(owner.record),
    class: 'btn btn-info pull-right mr5 mb5',
    disable_with: 'Redirecting...'
