<div class="col-xs-12 col-sm-3">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title">
        <b>Audits Statistics</b>
      </div>
    </div>
    <div class="panel-body" style="height:300px">
      <div class="row">
        <div class="col-xs-12">
          <h5>Average Days to Complete: <%=Audit.get_avg_complete%></h5>
        </div>
      </div>
      <div id="audits" style="width: 100%"></div>
      <div id="audits_download" style="width: 100%" align="right"></div>
    </div>
  </div>
</div>
<script type="text/javascript">
  <%= render partial: "analytics_data.js.erb", locals: {type: :audit} %>
  google.charts.load('current', {packages: ['corechart', 'bar']});
  google.charts.setOnLoadCallback(function() {drawChart2(auditData);});
  function drawChart2(data) {
    var aud_options = {
      chart: { title: 'Safety Assurance Statistics'},
      legend:'none',
      height:230,
      colors:['blue'],
      bars: 'horizontal' ,
      chartArea: {left:100}// Required for Material Bar Charts.
    };

    var audit_chart = new google.visualization.BarChart(document.getElementById('audits'));
    google.visualization.events.addListener(audit_chart, 'onmouseover', cursor_pointer);
    google.visualization.events.addListener(audit_chart, 'onmouseout', cursor_default);
    google.visualization.events.addListener(audit_chart, 'ready', function () {
      document.getElementById('audits_download').innerHTML = '<a href="' + audit_chart.getImageURI() + '"download><u>Download Chart</u></a>';
    });
    audit_chart.draw(google.visualization.arrayToDataTable(data), aud_options);
    google.visualization.events.addListener(audit_chart, 'select', function(){
      var all_status=<%=raw @grouped_audits.keys%>
      var root_url="<%=audits_path%>?status="
      var selection = audit_chart.getSelection();
      var message = "";
      for (var i = 0; i < selection.length; i++) {
        var item = selection[i];
        message= root_url+all_status[item.row];
      }
      window.location=message;
    });
  }


  $(window).bind('resizeEnd', function() {
      drawChart2(auditData);
  });
</script>
