<div class="col-xs-12 col-sm-4">
  <div class="panel panel-black">
    <div class="panel-heading">
      <div class="panel-title">
        <b>Corrective Actions Statistics</b>
      </div>
    </div>
    <div class="panel-body" style="height:300px">
      <div class="row">
        <div class="col-xs-12">
          <h5>Average Days to Complete: <%=@corrective_actions_scheduled_completion_date%></h5>
        </div>
      </div>
      <div id="cas" style="width: 100%"></div>
      <div id="cas_download" style="width: 100%" align="right"></div>
    </div>
  </div>
</div>
<script type="text/javascript">
  <%= render partial: "analytics_data.js.erb", locals: {type: :corrective_action} %>
  google.charts.load('current', {packages: ['corechart', 'bar']});
  google.charts.setOnLoadCallback(function() {drawChartcas(correctiveActionData, params);});

  function drawChartcas(data, params) {
    var cas_options = {
      legend:'none',
      chart: {title: 'ASAP Statistics'},
      height:230,
      colors:['blue'],
      bars: 'horizontal' ,
      chartArea: {left:100}// Required for Material Bar Charts.
    };

    var cas_chart = new google.visualization.BarChart(document.getElementById('cas'));
    google.visualization.events.addListener(cas_chart, 'onmouseover', cursor_pointer);
    google.visualization.events.addListener(cas_chart, 'onmouseout', cursor_default);
    google.visualization.events.addListener(cas_chart, 'ready', function () {
      document.getElementById('cas_download').innerHTML = '<a href="' + cas_chart.getImageURI() + '"download><u>Download Chart</u></a>';
    });
    cas_chart.draw(google.visualization.arrayToDataTable(data), cas_options);
    google.visualization.events.addListener(cas_chart, 'select', function(){
      var all_status=<%=raw @grouped_corrective_actions.keys%>
      var root_url="<%=corrective_actions_path%>?status="
      var selection = cas_chart.getSelection();
      var message = "";
      var dateParams = params ? "&start_date=" + params.startDate + "&end_date=" + params.endDate : "";
      for (var i = 0; i < selection.length; i++) {
        var item = selection[i];
        message= root_url + all_status[item.row] + dateParams;
      }
      window.location=message;
    });
  }

  $(window).bind('resizeEnd', function() {
    drawChartcas(correctiveActionData, params);
  });
</script>
