<div class="col-xs-12 col-sm-3">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <div class="panel-title">
        <b>Hazards Statistics</b>
      </div>
    </div>
    <div class="panel-body" style="height:300px">
      <div class="row">
        <div class="col-xs-12">
          <h4 id='hazard_avg_days_to_complete'>Average Days to Complete: <%=Hazard.get_avg_complete(nil, @start_date, @end_date)%></h4>
        </div>
      </div>
      <div id="hazards" style="width: 100%"></div>
      <div id="hazards_download" style="width: 100%" align="right"></div>
    </div>
  </div>
</div>
<script type="text/javascript">
  <%= render partial: "analytics_data.js.erb", locals: {type: :hazard} %>
  google.charts.load('current', {packages: ['corechart', 'bar']});
  google.charts.setOnLoadCallback(function() {drawCharthazard(hazardData, params);});
  function drawCharthazard(data, params) {
    var hazard_options = {
      chart: {title: 'Hazards Statistics'},
      legend:'none',
      height:230,
      colors:['blue'],
      bars: 'horizontal' ,
      chartArea: {left:100}// Required for Material Bar Charts.
    };
    var hazard_chart = new google.visualization.BarChart(document.getElementById('hazards'));
    google.visualization.events.addListener(hazard_chart, 'onmouseover', cursor_pointer);
    google.visualization.events.addListener(hazard_chart, 'onmouseout', cursor_default);
    google.visualization.events.addListener(hazard_chart, 'ready', function () {
      document.getElementById('hazards_download').innerHTML = '<a href="' + hazard_chart.getImageURI() + '"download><u>Download Chart</u></a>';
    });
    hazard_chart.draw(google.visualization.arrayToDataTable(data), hazard_options);
    google.visualization.events.addListener(hazard_chart, 'select', function(){
      var all_status=<%=raw @grouped_hazards.keys%>
      var root_url="<%=hazards_path%>?status="
      var selection = hazard_chart.getSelection();
      var message = "";
      var dateParams = params ? "&start_date=" + params.startDate + "&end_date=" + params.endDate : "";
      for (var i = 0; i < selection.length; i++) {
        var item = selection[i];
        message= root_url+all_status[item.row] + dateParams;
      }
      window.location=message;
    });
  }


  $(window).bind('resizeEnd', function() {
    drawCharthazard(hazardData, params);
  });
</script>
