<div class="col-xs-12 col-lg-12">
  <div class="panel panel-success">
    <div class="panel-heading">
      <div class="panel-title">
        <b>New Submission</b>
      </div>
    </div>
    <div class="panel-body" style="overflow-y:auto;overflow-x:hidden">
      <%@templates.each do |x|%>
        <div class="col-xs-12 col-lg-4">
          <%=link_to x.name,
            new_submission_path(:template => x, :home => true),
            :class => "btn btn-info ml5 mr5 mb10",
            :disable_with => "#{x.name} ...",
            "data-toggle" => "tooltip",
            "data-placement" => "right",
            "title" => x.description%>
        </div>
      <%end%>
    </div>
  </div>
</div>

<style>
  .tooltip > .tooltip-inner {
    background-color: aliceblue;
    color: black;
    font-size: 13px !important;
    border: 1px solid transparent;
    border-color: aliceblue;
    text-align: left;
  }
</style>

