<div class="col-xs-12 col-sm-4">
  <div class="panel panel-danger">
    <div class="panel-heading">
      <div class="panel-title">
        <b>Events Statistics</b>
      </div>
    </div>
    <div class="panel-body" style="height:300px">
      <div class="row">
        <div class="col-xs-12">
          <h5 id='report_avg_days_to_complete'>Average Days to Complete: <%=@reports_scheduled_completion_date%></h5>
        </div>
      </div>
      <div id="reports" style="width: 100%"></div>
      <div id="reports_download" style="width: 100%" align="right"></div>
    </div>
  </div>
</div>
<script type="text/javascript">
  <%= render partial: "analytics_data.js.erb", locals: {type: :report} %>
  google.charts.load('current', {packages: ['corechart', 'bar']});
  google.charts.setOnLoadCallback(function() {drawChartreps(reportData, params);});

  function drawChartreps(data, params) {
    var reps_options = {
      chart: {title: 'ASAP Statistics'},
      legend:'none',
      height:230,
      colors:['blue'],
      bars: 'horizontal' ,
      chartArea: {left:100}// Required for Material Bar Charts.
    };
    var reports_chart = new google.visualization.BarChart(document.getElementById('reports'));
    google.visualization.events.addListener(reports_chart, 'onmouseover', cursor_pointer);
    google.visualization.events.addListener(reports_chart, 'onmouseout', cursor_default);
    google.visualization.events.addListener(reports_chart, 'ready', function () {
      document.getElementById('reports_download').innerHTML = '<a href="' + reports_chart.getImageURI() + '"download><u>Download Chart</u></a>';
    });
    reports_chart.draw(google.visualization.arrayToDataTable(data), reps_options);

    google.visualization.events.addListener(reports_chart, 'select', function(){
      var all_status=<%=raw @grouped_reports.keys%>
      var root_url="<%=reports_path%>?status="
      var selection = reports_chart.getSelection();
      var message = "";
      var dateParams = params ? "&start_date=" + params.startDate + "&end_date=" + params.endDate : "";
      for (var i = 0; i < selection.length; i++) {
        var item = selection[i];
        message= root_url+all_status[item.row] + dateParams;
      }
      window.location=message;
    });
  }

  $(window).bind('resizeEnd', function() {
    drawChartreps(reportData, params);
  });
</script>
