<div class="col-xs-12 col-sm-3">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title">
        <b>Risk Controls Statistics</b>
      </div>
    </div>
    <div class="panel-body" style="height:300px">
      <div class="row">
        <div class="col-xs-12">
          <h4>Average Days to Complete: <%=RiskControl.get_avg_complete%></h4>
        </div>
      </div>
      <div id="risk_controls" style="width: 100%"></div>
      <div id="risk_controls_download" style="width: 100%" align="right"></div>
    </div>
  </div>
</div>
<script type="text/javascript">
  <%= render partial: "analytics_data.js.erb", locals: {type: :risk_control} %>
  google.charts.load('current', {packages: ['corechart', 'bar']});
  google.charts.setOnLoadCallback(function() {drawChartrisk(riskControlData);});
  function drawChartrisk(data) {
    var risk_control_options = {
      chart: {title: 'Safety Risk Assesment Statistics'},
      legend:'none',
      height:230,
      colors:['blue'],
      bars: 'horizontal' ,
      chartArea: {left:100}// Required for Material Bar Charts.
    };

    var risk_control_chart = new google.visualization.BarChart(document.getElementById('risk_controls'));
    google.visualization.events.addListener(risk_control_chart, 'onmouseover', cursor_pointer);
    google.visualization.events.addListener(risk_control_chart, 'onmouseout', cursor_default);
    google.visualization.events.addListener(risk_control_chart, 'ready', function () {
      document.getElementById('risk_controls_download').innerHTML = '<a href="' + risk_control_chart.getImageURI() + '"download><u>Download Chart</u></a>';
    });
    risk_control_chart.draw(google.visualization.arrayToDataTable(data), risk_control_options);
    google.visualization.events.addListener(risk_control_chart, 'select', function(){
      var all_status=<%=raw @grouped_risk_controls.keys%>
      var root_url="<%=risk_controls_path%>?status="
      var selection = risk_control_chart.getSelection();
      var message = "";
      for (var i = 0; i < selection.length; i++) {
        var item = selection[i];
        message= root_url+all_status[item.row];
      }
      window.location=message;
    });
  }

  $(window).bind('resizeEnd', function() {
    drawChartrisk(riskControlData);
  });
</script>
