<div class="col-xs-12 col-sm-4">
  <div class="panel panel-danger">
    <div class="panel-heading">
      <div class="panel-title">
        <b>Corrective Actions Statistics</b>
      </div>
    </div>
    <div class="panel-body" style="height:300px">
      <div class="row">
        <div class="col-xs-12">
          <h5>Average Days to Complete: <%=SmsAction.get_avg_complete%></h5>
        </div>
      </div>
      <div id="actions" style="width: 100%"></div>
      <div id="actions_download" style="width: 100%" align="right"></div>
    </div>
  </div>
</div>
<script type="text/javascript">
  <%= render partial: "analytics_data.js.erb", locals: {type: :corrective_action} %>
  google.charts.load('current', {packages: ['corechart', 'bar']});
  google.charts.setOnLoadCallback(function() {drawChart1(correctiveActionData);});
  function drawChart1(data) {
    var ca_options = {
      chart: {title: 'Safety Assurance Statistics'},
      legend:'none',
      height:230,
      colors:['red'],
      bars: 'horizontal' ,
      chartArea: {left:100}// Required for Material Bar Charts.
    };

    var action_chart = new google.visualization.BarChart(document.getElementById('actions'));
    google.visualization.events.addListener(action_chart, 'onmouseover', cursor_pointer);
    google.visualization.events.addListener(action_chart, 'onmouseout', cursor_default);
    google.visualization.events.addListener(action_chart, 'ready', function () {
      document.getElementById('actions_download').innerHTML = '<a href="' + action_chart.getImageURI() + '"download><u>Download Chart</u></a>';
    });
    action_chart.draw(google.visualization.arrayToDataTable(data), ca_options);
    google.visualization.events.addListener(action_chart, 'select', function(){
      var all_status=<%=raw @grouped_corrective_actions.keys%>
      var root_url="<%=sms_actions_path%>?status="
      var selection = action_chart.getSelection();
      var message = "";
      for (var i = 0; i < selection.length; i++) {
        var item = selection[i];
        message= root_url+all_status[item.row];
      }
      window.location=message;
    });
  }

  $(window).bind('resizeEnd', function() {
    drawChart1(correctiveActionData);
  });
</script>
