<div class="col-xs-12 col-sm-3">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title">
        <b>VP/Part 5 IM Statistics</b>
      </div>
    </div>
    <div class="panel-body" style="height:300px">
      <div class="row">
        <div class="col-xs-12">
          <h5>Average Days to Complete: <%=VpIm.get_avg_complete%></h5>
        </div>
      </div>
      <div id="vps" style="width: 100%"></div>
      <div id="vps_download" style="width: 100%" align="right"></div>
    </div>
  </div>
</div>
<script type="text/javascript">
  <%= render partial: "analytics_data.js.erb", locals: {type: :vp} %>
  google.charts.load('current', {packages: ['corechart', 'bar']});
  google.charts.setOnLoadCallback(function() {drawChartvp(vpData);});
  function drawChartvp(data) {
    var vps_options = {
      chart: {title: 'SMS IM Statistics'},
      legend:'none',
      height:230,
      colors:['blue'],
      bars: 'horizontal',
      chartArea: {left:100} // Required for Material Bar Charts.
    };

    var vps_chart = new google.visualization.BarChart(document.getElementById('vps'));
    google.visualization.events.addListener(vps_chart, 'onmouseover', cursor_pointer);
    google.visualization.events.addListener(vps_chart, 'onmouseout', cursor_default);

    google.visualization.events.addListener(vps_chart, 'ready', function () {
      document.getElementById('vps_download').innerHTML = '<a href="' + vps_chart.getImageURI() + '"download><u>Download Chart</u></a>';
    });
    vps_chart.draw(google.visualization.arrayToDataTable(data), vps_options);
    google.visualization.events.addListener(vps_chart, 'select', function(){
      var all_status=<%=raw @vps.keys%>
      var root_url="<%=ims_path%>?type=VpIm&status="
      var selection = vps_chart.getSelection();
      var message = "";
      for (var i = 0; i < selection.length; i++) {
        var item = selection[i];
        message= root_url+all_status[item.row];
      }
      window.location=message;
    });
  }

  $(window).bind('resizeEnd', function() {
    drawChartvp(vpData);
  });
</script>
