<div class="col-xs-12">
	<div class="panel panel-default">
	    <div class="panel-heading click-heading collapsed">
	      <div class="panel-title">
	        <b>Transactions</b><span class="pull-right clickable"><i class="mt5 glyphicon glyphicon-chevron-down"></i></span>
	      </div> 
	    </div>
        <div class="panel-body" style="display:none">
        	<div class="table-responsive">
	      		<table class="table table-bordered">
	        		<thead>
	        			<tr>
	        				<th style="width:15%">Date/Time</th>
	        				<th style="width:15%">User</th>
	        				<th style="width:15%">Action</th>
	        				<th>Content</th>
	        			</tr>
	        		</thead>
	        		<tbody>
	        			<%owner.transactions.reverse!.each do |t|%>	
	        				<tr>
	        					<td><%=Time.zone.parse(t.stamp)%></td>
	        					<td><%if t.user.present?%>
	        							<%=t.user.full_name%>
	        						<%else%>
	        							
	        						<%end%></td>
	        					<td><%=t.action%></td>
	        					<th><%=t.content%></th>
	        				</tr>
	        			<%end%>
	        		</tbody>
	        	</table>
	        </div>
		</div>
	</div>
</div>