<div class="col-sm-12 col-md-12 col-lg-12"%>
  <div class="panel panel-lightskyblue">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          Public reporting burden for this collection of information is estimated to average 58 minutes per response, including time to review the instruction, search and gather the data needed, and complete and review the collection of information.  Persons are not required to respond to the collection of information unless it displays a currently valid OMB control number.  If you have any comments about these estimates or any aspects of this data collection, contact:  US Department of Labor, OSHA Office of Statistics, Room N-3644, 200 Constitution Ave, NW, Washington, DC 20210.  Do not send the completed forms to this office.
        </div>
      </div>
    </div>
  </div>
</div>
