<div class="col-sm-12 col-md-12 col-lg-12"%>
  <div class="panel panel-lightskyblue">
    <div class="panel-heading click-heading">
      <div class="panel-title">
        <b>Number of Cases</b>
        <span class="pull-right clickable">
          <i class="mt5 glyphicon glyphicon-chevron-up"></i>
        </span>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-3">
          <b>Total number of deaths: </b>
        </div>

        <div class="col-xs-3">
          <b>Total number of cases with days away from work: </b>
        </div>

        <div class="col-xs-3">
          <b>Total number of cases with job transfer or restriction: </b>
        </div>

        <div class="col-xs-3">
          <b>Total number of other recordable cases: </b>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-3 text-center h4">
          <div class='underline'><%= @total_of_g %></div>
        </div>

        <div class="col-xs-3 text-center h4">
          <div class='underline'><%= @total_of_h %></div>
        </div>

        <div class="col-xs-3 text-center h4">
          <div class='underline'><%= @total_of_i %></div>
        </div>

        <div class="col-xs-3 text-center h4">
          <div class='underline'><%= @total_of_j %></div>
        </div>
      </div>
    </div>
  </div>
</div>
