= render 'shared/instructions', instruction: "Select <b>#{CONFIG::MATRIX_INFO[:terminology][risk_type]} Likelihood</b> and <b>#{CONFIG::MATRIX_INFO[:terminology][risk_type]} Severity</b> from the table to assess risk.<br>Assess the risk in place and then click the Save Risk button at the bottom."

- unless CONFIG::GENERAL[:drop_down_risk_selection]
  .form-group.col-xs-12
    = f.label :statement, 'Notes'
    = f.text_area :statement, {class: 'form-control ml5', rows: '2'}

/ .col-xs-12.mt20
/   h4
/     .sub_sub_title
/     span.label.label-baseline = CONFIG::MATRIX_INFO[:terminology]['Baseline']
/     span.label.label-mitigated = CONFIG::MATRIX_INFO[:terminology]['Mitigate']
/     span.label.label-overlapped = 'Overlapped'
