<h2>Safety Assurance</h2>
<%=link_to "This is the guide for Safety Assurance.", "https://docs.google.com/document/d/1RMd9YrPQx-Sk_Koxb7TzxE0Uk4fAau18cCx_BdSPb1w/edit?usp=sharing", 
:target => "_blank"%>
