<h2>Safety Reporting</h2>
<%=link_to "This is the guide for Safety Reporting.", 
"https://docs.google.com/document/d/1_ctOzA2Cr2_fsW7lO5onCxxQWCNCStMPdUV5c47R60w/edit?usp=sharing", 
:target => "_blank"%>
