<h2>Safety Risk Assessment</h2>
<%=link_to "This is the guide for Safety Risk Assessment.", "https://docs.google.com/document/d/1RApa0g_wLjx4-cbdE26wi-W3FEuJCF_X3e8LJQJjzgM/edit?usp=sharing", 
:target => "_blank"%>
