<div class="col-xs-12">
  <table class="table table-striped table-bordered">
    <thead>
      <th>Content</th>
      <th width="15%">Submit Date</th>
    </thead>
    <tbody>
      <%owner.comments.each do |c|%>
        <tr>
          <td><%=c.get_content%></td>
          <td><%=date_to_string(Date.parse c.get_submission_time)%></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>
