<div class="item active mt50" style="height:auto;">
	<div class="grid per90 center-block">
		<%=render "shared/record_table"%>
	</div> 
</div>

<script type="text/javascript" src="/javascripts/utility/bootstrap-datepicker.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/datepicker.css"/>