<html>
	<body>
		Hello <%=@user.first_name%>,
		<br>
		<br>
		<%=@message.html_safe rescue ''%> 
		<br>
		<br>
		<%=@record_url.html_safe rescue ''%>
		<br>
		<br>
		Thank you,<br>
		Engineering Team<br>
		ProSafeT<br>
	</body>
</html>