html
  body

    | Hello All,
    br
    br
    = "Attached is the digest for Query ##{@query.id}."
    br
    br
    br
    | Thank you,
    br
    | ProSafeT System
    br
    br: b NOTICE:
    | This is an automated message. If you need assistance, please contact us at
    a< href='https://support.prosafet.com/home' support.prosafet.com.
    br If you received this message in error, notify us through the support portal. Thank you.
