<html>
  <body>
    Hello,
    <br>
    <br>
      Analyst <%=@user.full_name%> has sent the boldened message below to the submitter for the linked Report
    <br>
    <br>
    <b><%=@message.html_safe rescue ''%></b>
    <br>
    <br>
    <%=@record_url.html_safe rescue ''%>
    <br>
    <br>
    Thank you,<br>
    ProSafeT System<br>
    <br><br>
    NOTICE:<br>
    This is an automated message. If you need assistance, please contact us at <a href='https://support.prosafet.com/home'>support.prosafet.com</a>.<br>
    If you received this message in error, notify us through the support portal. Thank you.
  </body>
</html>
