<html>
  <body>
    Hello <%=@private_link.name%>,
    <br>
    <br>
    <%=@message.html_safe rescue ''%>
    <br>
    <br>
    <br>
    Thank you,<br>
    Engineering Team<br>
    ProSafeT<br>
  </body>
</html>
