<html>
  <body>
    Hello <%=@private_link.name%>,
    <br>
    <br>
    <%=@message.html_safe rescue ''%>
    <br>
    <br>
    <br>
    Thank you,<br>
    ProSafeT System<br>
    <%= image_tag(attachments["logo.png"].url, :size => "145x35")%>
    <br><br>
    NOTICE:<br>
    This is an automated message. If you need assistance, please contact us at <a href='https://support.prosafet.com/home'>support.prosafet.com</a>.<br>
    If you received this message in error, notify us through the support portal. Thank you.
  </body>
</html>
