<div class="panel panel-lightskyblue">

  <div class="panel-heading click-heading">
    <div class="panel-title">
      <b>Included SRAs</b>
      <span class="pull-right clickable"><i class="mt5 glyphicon glyphicon-chevron-up"></i></span>
    </div>
  </div>

  <div class="panel-body" style="overflow-x:scroll">

    <table>
      <tr>
        <td>
          <i class='fa fa-link btn btn-sm btn-info mb5 mr5 ml5'></i>
          <b>View SRA </b>- View an SRA.
        </td>
        <td>
          <i class='glyphicon glyphicon-pencil btn btn-sm btn-success mb5 mr5 ml5'></i>
          <b>Add Meeting Minutes </b>- Add Meeting Minutes to the meeting
        </td>
      </tr>
      <tr>
        <td>
          <i class='glyphicon glyphicon-road btn btn-sm btn-success mb5 ml5 mr5'></i>
          <b>Carryover SRA </b>- Carryover an sra to another open meeting.
        </td>
      </tr>
      <tr>
        <td>
          <i class='glyphicon glyphicon-list btn btn-sm btn-warning mb5 mr5 ml5'></i>
          <b>Agendas </b>- View or add Meeting Agendas
        </td>

        <td>
          <i class='glyphicon glyphicon-minus btn btn-sm btn-danger mb5 ml5 mr5'></i>
          <b>Remove SRA </b>- Remove an SRA from the meeting.
        </td>

      </tr>
    </table>

    <div class="row col-xs-12">
      <table id="sras_table" class="table table-striped table-bordered width="100%">

        <thead>
          <tr>
            <%sra_headers.each do |h|%>
              <th><%=h[:title]%></th>
            <%end%>
            <th>Meeting Minutes</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody id="all_meeting_sras">
            <%= render partial: 'included_sras', locals: {sra_headers: sra_headers, meeting: meeting}%>
        </tbody>
      </table>
      </div>
  </div>
</div>



<script>
  $('[data-m-toggle="tooltip"]').tooltip();
  $(document).ready(function(){
    sras_table = $('#sras_table').dataTable({
      "paging": false,
      "columnDefs": [{ type: 'natural', targets: 0 }]
    });
    $("#sras_table").on('click', ".agenda_btn", function(){
      path=$(this).attr('route');
      $.get(path,function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $("#sras_table").on('click', ".carryover_btn", function(){
      event.preventDefault();
      path=$(this).attr('route');
      $.get(path,function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
    $("#sras_table").on('click', ".minutes_btn", function(){
      $.get($(this).attr('route'),function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });

    $("#sras_table").on('click', ".close_sra_btn", function(){
      $.get($(this).attr('route'),function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });

  });
</script>
