<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <div class="panel-title">
          <b>Permission Denied</b>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <p><b> You do not have access to that action. Please contact admin for more details if you have any question. You will be redirected to home page in 5 seconds. If your browser is not redirecting you, click <%=link_to "here",root_url%>.</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
var timer = setTimeout(function() {
    window.location="<%=root_url%>"
}, 5000);
</script>
