/* -----------------------------------------
   Custom.css - put your own changes here 
----------------------------------------- */
.form-control.basic-datepicker[readonly] {
    cursor: default;
    background-color: #ffffff;
}
.panel-body.group-border .form-group {
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 15px;
  padding-top: 15px;
  /*margin-left: -15px;*/
  /*margin-right: -15px;*/
  margin-bottom: 0;
}
.panel-body.group-border .form-group:last-child {
  border-bottom: none;
}
.panel-body.stripped .form-group:nth-of-type(even) {
  background: #f9f9f9;
}
.panel-buttons-right {
  display: inline-block;
  float: right;
  margin-right: -15px;
  margin-top: -5px;
  margin-bottom: 0px;
}
.panel-buttons-right .button_to, .panel-buttons-right .btn {
  display: inline-block;
  float: none;
}
/*@media all and (max-width: 700px) {
  .panel-buttons-right {
    float: left;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}*/
/* Disables styling from unused left-sidebar, right-sidebar, and collapsed-sidebar */
/* That is automatically set by $('body').dynamic({}) in main.js / main_alt.js */
.page-content.sidebar-page {
  margin-left: 0px !important;
}
.page-content.right-sidebar-page {
  margin-right: 0px !important;
}
.page-content.collapsed-sidebar {
  margin-left: 0px !important;
}

/*-----------------------------------------
  Responsive NavBar Styling
----------------------------------------- */
.responsive-menu-toggle {
  padding: 20px 0;
  float: left;
  margin-right: 15px;
  color: #333333;
  display: none;
}
.responsive-menu-toggle i {
  font-size: 24px;
}
/* Ensure that elements are displayed again when moving to larger screen */
/* !important keyword used because jQuery's slideUp and slideDown will otherwise override display: block */
@media all and (min-width: 1025px) {
  .page-navbar .navbar-no-collapse {
    display: block !important;
  }
}
/*--- Styles NavBar for screen sizes of 1024 or smaller ---*/
@media all and (max-width: 1024px) {
  /* Navigation */
  .responsive-menu-toggle {
    display: inline-block;
    float: right;
  }
  .page-navbar .navbar-no-collapse {
    display: none;
    margin-right: 0;
    width: 100%;
  }
  .page-navbar .navbar-brand {
    display: block !important;
  }
  .page-navbar .navbar-no-collapse > ul {
    width: 100%;
    height: initial !important;
  }
  .page-navbar .navbar-no-collapse > ul > li {
    width: 100%;
  }
  .page-navbar .navbar-no-collapse > ul > li > a {
    border-bottom: 1px solid #e3e3e3;
  }
  .page-navbar .navbar-no-collapse .navbar-right {
    margin-right: 0px;
  }
  .page-navbar .navbar-no-collapse > ul > li.open .dropdown-menu {
    float: left;
    width: 100%;
    /*position: relative;*/
    position: absolute;
    z-index: 100;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

/*-----------------------------------------
  Plugins Styling (Fixes)
----------------------------------------- */

/*twitter-typeahead styling fix: http://iswwwup.com/t/cca427c7ea61/jquery-twitter-typeahead-and-bootstrap-tagsinput-styling-not-correct-in-ie-an.html*/
.twitter-typeahead {
  vertical-align: top;
}

 /*bootstrap-style autocomplete: https://gist.github.com/daz/2168334*/
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
.ui-autocomplete .ui-menu-item > a.ui-corner-all {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
}
.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-hover, .ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-active {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  /*background-color: red;*/
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}
/*hiding ui-helper-hidden-accessible: http://stackoverflow.com/questions/13011127/how-to-remove-change-jquery-ui-autocomplete-helper-text*/
.ui-helper-hidden-accessible { position: absolute; left: -9999px; }