/*-----------------------------------------
  Responsive NavBar Styling
----------------------------------------- */
.responsive-menu-toggle {
  padding: 20px 0;
  float: left;
  margin-right: 15px;
  color: #333333;
  display: none;
}
.responsive-menu-toggle i {
  font-size: 24px;
}
/* Ensure that elements are displayed again when moving to larger screen */
/* !important keyword used because jQuery's slideUp and slideDown will otherwise override display: block */
@media all and (min-width: 1025px) {
  .page-navbar .navbar-no-collapse {
    display: block !important;
  }
}
/*--- Styles NavBar for screen sizes of 1024 or smaller ---*/
@media all and (max-width: 1024px) {
  /* Navigation */
  .responsive-menu-toggle {
    float: right;
    display: block;
  }
  .page-navbar .navbar-no-collapse {
    display: none;
    margin-right: 0;
    width: 100%;
  }
  .page-navbar .navbar-no-collapse > ul {
    width: 100%;
  }
  .page-navbar .navbar-no-collapse > ul > li {
    width: 100%;
  }
  .page-navbar .navbar-no-collapse > ul > li > a {
    border-bottom: 1px solid #e3e3e3;
  }
  .page-navbar .navbar-no-collapse .navbar-right {
    margin-right: 0px;
  }
  .page-navbar .navbar-no-collapse > ul > li.open .dropdown-menu {
    float: left;
    width: 100%;
    /*position: relative;*/
    position: absolute;
    z-index: 100;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}