<html>
  <body>
    <h3>Hello <%= @user.first_name %>, <br></h3>
    <h4>There has been a new <%=@submission.template.name%> Submission. <%=@link%></h4>
    <p>
      Thanks<br>
      Engineering Team<br>
      ProSafeT, LLC<br>
    </p>
  </body>
</html>
