<html>
	<body>
		<h3>Hello <%= @user.first_name %>, <br></h3>
		<h4>A new <b><%=@submission.template.name%> Submission: Submission #<%=@submission.id%></b> has been submitted. </h4>  
		<%=@link%><br><br>
		<p>
			Thanks<br>
			Engineering Team<br>
			ProSafeT, LLC<br>
		</p>
	</body>
</html>