<!DOCTYPE html>
<div></div>
<div class="pdf_header">
  ProSafeT
</div>
<!--     <% prefix = "#{CONFIG::GENERAL[:name]}
      #{" <span style='color:red'>#{Rails.env.titleize}</span>" if !Rails.env.production?} | "%>
    <%=case session[:mode]
      when 'SMS'
        "#{prefix}Safety Assurance Module".html_safe
      when 'SMS IM'
        "#{prefix}SMS IM Module".html_safe
      when 'ASAP'
        "#{prefix}Safety Reporting Module".html_safe
      when 'SRM'
        "#{prefix}SRA (SRM) Module".html_safe
      end
    %> -->

<style type="text/css">
  .pdf_header {
    font: normal 20px Verdana, Arial, sans-serif !important;
  }

/*  .module_label {
    margin-top: 10px;
    margin-right:10px;
    height: 10px;
    padding: 5px;
    color: #808C99;
    font-size: 18px;
  }*/
</style>
