<style>
  body {
    font-family: "Quattrocento Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 12px !important;
  }
  .sub_title{
    margin-bottom: 5px;
    font: normal 16px Verdana, Arial, sans-serif;
    font-weight: bold;
  }
  .sub_sub_title{
    margin-top: 5px;
    margin-bottom: 2px;
    font: normal 14px Verdana, Arial, sans-serif;
    font-weight: bold;
    text-decoration: underline;
  }
  .title{
    margin-bottom: 5px;
    font: normal 18px Verdana, Arial, sans-serif;
    font-weight: bold;
  }
  hr {
    margin-bottom: 2px!important;
    margin-top: 5px!important;
    border-top: 1px solid black;
  }
  table{
    font-family: "Quattrocento Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 12px !important;
  }
</style>


<div class="title">
  SRA #<%=owner.get_id%>: <%=owner.title%>
</div>


<div class="content">
  <%=render "forms/print_fields",
    :fields => Sra.get_meta_fields('show'),
    :owner => owner,
    :deidentified => deidentified%>

  <%owner.hazards.each do |hazard|%>
    <div class="col-xs-12">
      <hr>
      <%=render "/hazards/print",
        :owner => hazard,
        :deidentified => deidentified%>
    </div>
  <%end%>

</div>

