<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <%= render "access_controls/new_modal"%>
    <div class="col-xs-12">
      <div class="col-sm-12 alert alert-warning show" role="alert">
        <p>
          Please submit a support ticket if you need to add new Custom Options.
        </p>
      </div>
    </div>
    <%=render "/shared/record_table_modal", :create_new => true%>
  </div>
</div>
