<html>
	<body>
		<h3>Hello <%= @user.first_name %>, <br></h3>
		<h4>You have a new message. Please login to ProSafeT portal to view. </h4>  
		<a href=<%=login_url%>>ProSafeT Portal</a><br><br>
		<p>
			Thanks<br>
			Engineering Team<br>
			ProSafeT, LLC<br>
		</p>
	</body>
</html>