<html>
  <body>
    <h3>Hello <%= @user.first_name %>, <br></h3>
    <h4>SRA #<%=@owner.id%> needs your approval. <%=@link%></h4>
    Please act upon it before the scheduled completion date. <br><br>
    <p>
      Thanks<br>
      Engineering Team<br>
      ProSafeT, LLC<br>
    </p>
  </body>
</html>
