<html>
  <body>
    <h3>Hello <%= @user.first_name %>, <br></h3>
    <h4>SRA #<%=@owner.id%> has been assigned to you. <%=@link%></h4>
    Please review and complete it by the scheduled completion date. <br><br>
    <p>
      Thanks<br>
      Engineering Team<br>
      ProSafeT, LLC<br>
    </p>
  </body>
</html>
