<html>
	<body>
		<h3>Hello <%= @user.first_name %>, <br></h3>
		<h4>SRA #<%=@owner.id%> has been rejected by the <%=@rejected_by%>. <%=@link%></h4> 
		Please review and revise. <br><br>
		<p>
			Thanks<br>
			Engineering Team<br>
			ProSafeT, LLC<br>
		</p>
	</body>
</html>