<html>
	<body>
		<h3>Hello <%= @user.first_name %>, <br></h3>
		<h4>SRA #<%=@owner.id%> needs your review. <%=@link%></h4> 
		Please review before the scheduled completion date. <br><br>
		<p>
			Thanks<br>
			Engineering Team<br>
			ProSafeT, LLC<br>
		</p>
	</body>
</html>