<html>
	<body>
		<h3>Hello <%= @user.first_name %>, <br></h3>
		<h4>Risk Control #<%=@owner.id%> has been reopened and assigned to you. <%=@link%></h4> 
		Please review.<br><br>
		<p>
			Thanks<br>
			Engineering Team<br>
			ProSafeT, LLC<br>
		</p>
	</body>
</html>