<div class="col-xs-12">
  <div class="panel clickable panel-default">
    <div class="panel-heading click-heading collapsed">
      <div class="panel-title">
        Attachments
        <span class="pull-right clickable">
          <i class="mt5 glyphicon glyphicon-chevron-down"></i>
        </span>
      </div>
    </div>
    <div class="panel-body" style="display:none">
      <div class="row" id="attachments">
        <%owner.attachments.each do |att|%>
          <%=render "/forms/attachments_existing_field", :f => f,:attachment => att%>
        <%end%>
      </div>
      <div class="pull-right">
        <%= link_to_add_fields "Add an attachment", f, :attachments%>
      </div>
    </div>
  </div>
</div>
