ruby:
  attachments ||= owner.attachments
  edit ||= false

css:
  .attachment-item {
    border: 1px solid silver;
    border-radius: 3px;
    padding: 10px;
    background-color: #e8e8e8;
  }
  .tooltip-inner {
    max-width: 100% !important;
  }
  .attachment-thumbnail {
    background-color: white;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid silver;
  }

.col-xs-12 style='max-width: 200px;' id="#{owner.id}_attachments"
  - attachments.each.with_index do |attachment, index|
    .row.attachment-item align='center' class=((edit || index < attachments.length - 1) && 'mb10')
      .attachment-thumbnail
        = render 'forms/attachments_preview', attachment: attachment
      p
        strong = attachment.caption
      - if edit
        = link_to 'Delete', '#',
          class: 'btn btn-danger attachment-destroy'
        = f.fields_for :attachments, attachment do |attachment_field|
          = attachment_field.hidden_field :_destroy, value: 0
          = attachment_field.hidden_field :id, value: attachment.id
      - else
        = link_to '<i class="glyphicon glyphicon-eye-open"></i>'.html_safe, '#',
          class: 'btn btn-info btn-sm show_preview_btn_mini mt5',
          hover: 'tooltip',
          title: 'Preview',
          'data-toggle' => 'modal',
          'data-id' => attachment.id,
          'data-target' => '.bs-example-modal-lg'
        = link_to '<i class="glyphicon glyphicon-cloud-download"></i>'.html_safe, attachment.name.url,
          class: 'btn btn-success btn-sm mt5',
          hover: 'tooltip',
          title: 'Download'
    div id="preview_attachment_#{attachment.id}" style='display: none;'
      .panel-lightskyblue
        .panel-heading
          .panel-title
            = attachment.document_filename
            button.close.pull-right type='button' data-dismiss='modal' aria-label='Close'
              span.glyphicon.glyphicon-remove
        .panel-body style='max-height: calc(100vh - 210px); overflow-y: auto;'
          .col-xs-12 align='center'
            = render 'forms/attachments_preview', attachment: attachment
  - if edit
    .row
      div id="#{owner.id}_add_attachments"
      = link_to_add_fields 'Add', f, :attachments, nil,
        { class: 'btn btn-success center-block add_attachment_mini' },
        "#{owner.id}_add_attachments",
        partial: "checklists/attachment_fields"

javascript:
  $(function() {
    $('[hover="tooltip"]').tooltip({ placement: 'bottom', trigger: 'hover' })

    $('.show_preview_btn_mini').click(function() {
      var attachment_id = $(this).data('id')
      $('.modal-content').html($(`#preview_attachment_${attachment_id}`).html())
      $(window).trigger('resize')
    })

    $("##{owner.id}_attachments").on('change', '.hidden-file-input', function(event) {
      var fileName = event.target.value ? event.target.value.split('\\').pop() : ''
      if (fileName) {
        $(this).next('label').html(fileName)
      }
    })

    $("##{owner.id}_attachments .attachment-destroy").click(function() {
      $(this).parent('.attachment-item').hide()
      var hiddenInput = $(this).next('input[type=hidden]')
      hiddenInput.val(1)
      hiddenInput.trigger('change')
    })

    $("##{owner.id}_attachments").on('click', '.to-delete .attachment-delete', function() {
      $(this).parent('.to-delete').remove()
    })
  })
