<script type="text/javascript" src="/javascripts/utility/format-builder.js"></script>
<script type="text/javascript" src="/javascripts/utility/validate-form.js"></script>
<script type="text/javascript" src="/javascripts/utility/extra_fields.js"></script>

<div class="col-xs-12 col-lg-12"%>
  <div class="panel panel-warning">
    <div class="panel-heading">
      <div class="panel-title">
        Share with others
        <button type="button"
          class="close pull-right"
          data-dismiss="modal"
          aria-label="Close">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <%=form_for @owner do |f|%>

          <%=f.hidden_field :link, :value => params[:link]%>
          <%=render "/forms/form_fields",
            :fields => PrivateLink.get_meta_fields('form'),
            :record => @owner,
            :f => f%>

          <div class="col-xs-12 mt5 mr5">
            <%=f.submit "Share",
              :class => "btn btn-success mr10 pull-right",
              :disable_with => "Sharing..."%>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>


