<script type="text/javascript" src="/javascripts/utility/format-builder.js"></script>
<script type="text/javascript" src="/javascripts/utility/timezone-control.js"></script>
<script type="text/javascript" src="/javascripts/utility/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/nested_fields.js"></script>
<script type="text/javascript" src="/javascripts/utility/validate-form.js"></script>
<script type="text/javascript" src="/javascripts/utility/delete.js"></script>
<script type="text/javascript" src="/javascripts/utility/extra_fields.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/dataTables.bootstrap.min.css"/>

<div class="col-xs-12 col-lg-12"%>
  <div class="panel panel-warning">
    <div class="panel-heading">
      <div class="panel-title">
        New Cost
        <button type="button"
          class="close pull-right"
          data-dismiss="modal"
          aria-label="Close">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <%=form_for @owner do |x|%>

          <%=x.fields_for :costs,@cost do |f| %>

            <%=render "/forms/form_fields",
              :fields => Cost.get_meta_fields('form'),
              :record => @cost,
              :f => f%>

          <%end%>
          <%=x.submit "Save",
            :class => "btn btn-success mr10 pull-right",
            :disable_with => "Saving..."%>
        <%end%>
      </div>
    </div>
  </div>
</div>


