ruby:
  # TODO: move this to controller
  @column_titles = @columns.map { |col| col[:title] }

table id='records_table' class='table table-hover table-striped table-bordered index_table'
  thead
    tr
      - @column_titles.each do |column_title|
        th = column_title
  tfoot
    tr
      - @column_titles.each do |column_title|
        th = column_title


javascript:

  function loadMatrixColor() {
    $('#loader2').hide();$(".records-table").css({'opacity':1});

    colors = ['red', 'orangered', 'yellow', 'green', 'limegreen', 'orange', 'lime', 'mediumseagreen', 'steelblue', 'crimson', 'coral', 'gold', 'skyblue']

    colors.forEach((color) => {
      $(`.table tbody tr td:has(span.${color})`).css('background-color',color);
    });
  }

  $(function(){

    // Add individual column search input fields
    $('#records_table tfoot th').each(function() {
      $(this).html('<input type="text" class="form-control" />');
    });

    // Disable Action search field
    $('#records_table tfoot tr th:last-child').children().hide();


    $('#records_table').DataTable({
      sDom: 'Blrtip', // hide search input field
      ajax: {
        url: "#{controller_name}/get_dataset?status=#{params[:status]}&count=#{params[:count]}",
        method: "POST",
        data: {
          advance_search: JSON.parse('#{raw @advance_search_params.to_json}')
        },
        beforeSend: function(){
          $(".records-table").css({'opacity':0.5}); $('#loader2').show();
        }
      },
      serverSide: true,
      columns: #{raw @columns.to_json},
      drawCallback: loadMatrixColor,
      order: [['0', 'desc']],
      initComplete: function(settings, json) {
        // hide index tabs when advanced seach is used
        var sourceOfInput = '#{raw params[:advance_search][:type].to_json}'
        var hasAdvanceSearch = '#{raw params[:advance_search][:advance_search].to_json}'

        if (hasAdvanceSearch != 'null') {
          $('ul.nav.nav-pills li > a').hide();
          $('ul.nav.nav-pills li.status-all > a').show();

          if (sourceOfInput != 'null') {
            $('ul.nav.nav-pills li.status-all a > span').html(sourceOfInput.replaceAll('"', ''));
          } else {
            $('ul.nav.nav-pills li.status-all a > span').html('');
          }
        }

        // export btns alignment
        $('.dt-buttons.btn-group').addClass("pull-right mb15");

        $('#loader2').hide();$(".records-table").css({'opacity':1});

        var api = this.api();

        // Apply the search
        api.columns().every(function() {
          var column = this;

          $('input', this.footer()).on('keyup change', function(e) {
            // keyCode 13 is 'Enter'
            if(e.keyCode == 13 && column.search() !== this.value){
              column.search(this.value).draw();
            }
          });
        });
      }
    });



    $(document).on('click', "#records_table tbody tr td", function(){
      var cellIdx = $(this)[0].cellIndex;
      var lastIdx = $(this).closest("tr").find("td:last")[0].cellIndex;
      if(cellIdx != lastIdx){
        id = $(this).siblings().first().html()
        window.location = ("/#{@table_name}/" + id);
      }
    });
  });
