ruby:
  op ||= {} # In case no options were passed
  owner_class = owner.class.name.underscore
  permission = "#{owner_class}s"
  btns = prepare_btns(owner, env, **op)
/ All Renderable Buttons
- btns.each do |btn|
  - case btn

  - when :approve_reject
    = link_to 'Approve',
      '#',
      class: 'btn btn-success pull-right approve_btn mr5 mb5',
      id: 'approve',
      'data-toggle' => 'modal',
      'data-target' => '.bs-example-modal-lg'
    = link_to 'Reject',
      '#',
      class: 'btn btn-danger pull-right approve_btn mr5 mb5',
      id: 'reject',
      'data-toggle' => 'modal',
      'data-target' => '.bs-example-modal-lg'

  - when :assign
    = link_to 'Assign',
      '#',
      class: 'btn btn-warning pull-right mr5 mb6',
      id: 'assign_btn',
      'data-toggle' => 'modal',
      'data-target' => '.bs-example-modal-lg'

  - when :attach_in_message
    = link_to 'Attach in Message',
      eval("interpret_#{owner_class}_path(act: :attach_in_message)"),
      class: 'btn btn-warning pull-right mb5 mr5',
      disable_with: 'Redirecting...'

  - when :comment
    = link_to 'Add Comment',
      '#',
      class: 'btn btn-success pull-right mr5 mb5',
      id: 'comment_btn',
      'data-toggle' => 'modal',
      'data-target' => '.bs-example-modal-lg'

  - when :complete
    = link_to 'Complete',
      '#',
      class: 'btn btn-warning pull-right complete_btn mr5 mb5',
      id: 'complete',
      'data-toggle' => 'modal',
      'data-target' => '.bs-example-modal-lg'

  - when :complete_hazard
    = link_to "Complete",
      complete_hazard_path(owner, status: "Completed"),
      class: "btn btn-warning pull-right mr5 mb5",
      disable_with: "Completing...",
      confirm: "Are you sure?"

  - when :complete_safety_plan
    = link_to "Complete",
      complete_safety_plan_path(owner),
      class: "btn btn-warning pull-right mr5 mb5",
      disable_with: "Completing...",
      confirm: "Are you sure?"

  - when :contact
    = link_to 'Add Contact',
      '#',
      class: 'btn btn-success pull-right mr5 mb5',
      id: 'contact_btn',
      'data-toggle' => 'modal',
      'data-target' => '.bs-example-modal-lg'

  - when :cost
    = link_to 'Add Cost',
      '#',
      class: 'btn btn-success pull-right mr5 mb5',
      id: 'cost_btn',
      'data-toggle' => 'modal',
      'data-target' => '.bs-example-modal-lg'

  - when :deid_pdf
    = link_to 'De-ID PDF',
      eval("print_#{owner_class}_path(@audit, format: :pdf, deidentified: true)"),
      class: 'btn btn-darkturquoise pull-right mr5 mb5'

  - when :delete
    = link_to 'Delete',
      eval("#{owner_class}_path(owner)"),
      method: 'delete',
      confirm: 'Are you sure?',
      class: 'btn btn-danger pull-right mr5 mb5'

  - when :edit
    = link_to 'Edit',
      eval("edit_#{owner_class}_path(owner)"),
      class: 'btn btn-warning pull-right mr5 mb5',
      disable_with: 'Editing...'

  - when :evaluate
    = link_to "Evaluate",
      edit_safety_plan_path(owner, :evaluate => true),
      :class => "btn btn-warning pull-right mr5 mb5",
      :disable_with => "Evaluating..."

  - when :expand_all
    = link_to 'Expand All',
      '#',
      class: 'btn btn-default expandall pull-right mr5 mb5'

  - when :finding
    = link_to 'Add Finding',
      new_finding_path( owner_id: owner.id, owner_type: owner.class.name ),
      class: 'btn btn-success pull-right mr5 mb5',
      disable_with: 'Adding...'

  - when :hazard
    = link_to 'Add Hazard',
      new_hazard_path( owner_id: owner.id, owner_type: owner.class.name ),
      class: 'btn btn-success pull-right mr5 mb5',
      disable_with: 'Adding...'

  - when :message_submitter
    = link_to 'Message Submitter',
      '#',
      class: 'btn btn-warning pull-right mb5 mr5',
      id: 'message_submitter_btn',
      'data-toggle' => 'modal',
      'data-target' => '.bs-example-modal-lg'

  - when :override_status
    = link_to 'Override Status',
      '#',
      class: 'btn btn-danger pull-right mr5 mb5',
      id: 'override_status_btn',
      'data-toggle' => 'modal',
      'data-target' => '.bs-example-modal-lg'

  - when :pdf
    = link_to 'PDF',
      eval("print_#{owner_class}_path(@audit, format: :pdf, deidentified: false)"),
      class: 'btn btn-darkturquoise pull-right mr5 mb5'

  - when :private_link
    = link_to 'Share',
      '#',
      class: 'btn btn-lightblue pull-right mr5 mb5',
      id: 'private_link_btn',
      'data-toggle' => 'modal',
      'data-target' => '.bs-example-modal-lg'

  - when :recommendation
    = link_to 'Add Recommendation',
      new_recommendation_path(owner_id: owner.id, owner_type: owner.class.name),
      class: 'btn btn-success pull-right mr5 mb5',
      disable_with: 'Adding...'

  - when :reject
    = link_to "Reject",
      complete_hazard_path(owner, status: "Rejected"),
      class: "btn btn-danger pull-right mr5 mb5",
      disable_with: "Rejecting...",
      confirm: "Are you sure?"

  - when :reopen
    = link_to 'Reopen',
      eval("interpret_#{owner_class}_path(owner, act: :reopen)"),
      class: 'btn btn-success pull-right mr5 mb5'

  - when :request_extension
    = link_to 'Request Extension',
      '#',
      class: 'btn btn-info pull-right mr5 mb5',
      id: 'extension_btn',
      'data-toggle' => 'modal',
      'data-target' => '.bs-example-modal-lg'

  - when :risk_control
    = link_to 'Add Risk Control',
      new_risk_control_path(owner_id: owner.id, owner_type: owner.class.name),
      class: 'btn btn-success pull-right mr5 mb5',
      disable_with: 'Adding...'

  - when :schedule_verification
    = link_to 'Schedule Verification',
      '#',
      class: 'btn btn-warning pull-right mr5',
      id: 'verification_btn',
      'data-toggle' => 'modal',
      'data-target' => '.bs-example-modal-lg'

  - when :send_message
    = link_to 'Send Message',
      new_message_path(link:eval("#{owner_class}_path(owner)"),
        link_type: owner.class.name,
        link_id: owner.id),
        class: 'btn btn-warning pull-right mr5 mb5'

  - when :set_alert
    = link_to 'Set Alert',
      '#',
      class: 'btn btn-success pull-right mr5 mb5',
      id: 'alert_btn',
      'data-toggle' => 'modal',
      'data-target' => '.bs-example-modal-lg'

  - when :sign
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
    = link_to "Sign #{owner_class.titleize}",
      '#',
      class: 'btn btn-danger pull-right mr5 mb5',
        id: 'sign_btn',
        'data-toggle' => 'modal',
        'data-target' => '.bs-example-modal-lg'

  - when :sms_action
    = link_to 'Add Corrective Action',
      new_sms_action_path( \
        owner_id: owner.id,
        owner_type: owner.class.name),
      class: 'btn btn-success pull-right mr5 mb5',
      disable_with: 'Adding...'

  - when :task
    = link_to 'Add Task',
      '#',
      class: 'btn btn-success pull-right mr5 mb5',
      id: 'task_btn',
      'data-toggle' => 'modal',
      'data-target' => '.bs-example-modal-lg'

  - when :view_event
    = link_to 'View Event',
      report_path(owner.report),
      class: 'btn btn-info pull-right mr5 mb5',
      disable_with: 'Redirecting...'

  - when :view_hazard
    = link_to "View Hazard",
      hazard_path(owner.hazard),
      :class => "btn btn-info pull-right mr5 mb5",
      :disable_with => "Redirecting..."

  - when :view_meeting
    - meeting_class = owner.meeting.class.name
    = link_to "View Meeting",
      eval("#{meeting_class.underscore}_path(owner.meeting)"),
      class: 'btn btn-info pull-right mr5 mb5',
      disable_with: 'Redirecting...'

  - when :view_parent
    - parent_class = owner.owner.class.name
    = link_to "View #{owner.respond_to?('owner_titleize') ? owner.owner_titleize : parent_class.titleize}",
      eval("#{parent_class.underscore}_path(owner.owner)"),
      class: 'btn btn-info pull-right mr5 mb5',
      disable_with: 'Redirecting...'

  - when :view_report
    = link_to 'View Report',
      record_path(owner.record),
      class: 'btn btn-info pull-right mr5 mb5',
      disable_with: 'Redirecting...'

  - when :view_sra
    = link_to 'View SRA(SRM)',
      sra_path(owner.sra),
      class: 'btn btn-info pull-right mr5 mb5',
      disable_with: 'Redirecting...'

  - when :viewer_access
    = link_to owner.viewer_access ? 'Disable Viewer Access' : 'Enable Viewer Access',
      eval("viewer_access_#{owner_class}_path(owner)"),
      class: 'btn btn-warning pull-right mr5 mb5'

    / TODO: add - else statement to handle unique cases/custom buttons for airlines

/ Javascript functions
- btns.uniq.each do |btn|
  - case btn

  - when :approve_reject
    javascript:
      $('.approve_btn').on('click',function(){
        var commit=$(this).attr('id');
        $.get('#{eval("interpret_#{owner_class}_path(owner, act: :approve_reject)")}&commit='+commit,function(data){
          $(".modal-content").html(data);
          $(window).trigger('resize');
        });
      });

  - when :assign
    javascript:
      $('#assign_btn').on('click',function(){
        $.get('#{eval("interpret_#{owner_class}_path(owner, act: :assign)")}', function(data){
          $('.modal-content').html(data);
          $(window).trigger('resize');
        });
      });

  - when :comment
    javascript:
      $('#comment_btn').on('click',function(){
        $.get('#{eval("interpret_#{owner_class}_path(owner, act: :comment)")}',function(data){
          $(".modal-content").html(data);
          $(window).trigger('resize');
        });
      });

  - when :complete
    javascript:
      $('.complete_btn').on('click',function(){
        var commit=$(this).attr('id');
        $.get('#{eval("interpret_#{owner_class}_path(owner, act: :complete)")}&commit='+commit,
            function(data){
          $(".modal-content").html(data);
          $(window).trigger('resize');
        });
      });

  - when :contact
    javascript:
      $('#contact_btn').on('click',function(){
        $.get('#{eval("interpret_#{owner_class}_path(owner, act: :contact)")}',function(data){
          $(".modal-content").html(data);
          $(window).trigger('resize');
        });
      });

  - when :cost
    javascript:
      $('#cost_btn').on('click',function(){
        $.get('#{eval("interpret_#{owner_class}_path(owner, act: :cost)")}',function(data){
          $(".modal-content").html(data);
          $(window).trigger('resize');
        });
      });

  - when :message_submitter
    javascript:
      $('#message_submitter_btn').on('click', function(){
        $.get('#{eval("message_submitter_messages_path(owner_id: owner.id, owner_type: owner.class.name)")}',
          function(data){
          $(".modal-content").html(data);
          $(window).trigger('resize');
        });
      });

  - when :override_status
    javascript:
      $('#override_status_btn').on('click',function(){
        $.get('#{eval("override_status_#{owner_class}_path(owner)")}', function(data){
            $(".modal-content").html(data);
            $(window).trigger('resize');
        });
      });

  - when :private_link
    javascript:
      $('#private_link_btn').on('click',function(){
        $(".modal-content").html("");
        $.get('#{new_private_link_path}?link=#{eval("request.url")}',function(data){
          $(".modal-content").html(data);
          $(window).trigger('resize');
        });
      });

  - when :request_extension
    javascript:
      $("#extension_btn").on("click", function(){
        $.get('#{eval("interpret_#{owner_class}_path(owner, act: :request_extension)")}', function(data){
          $('.modal-content').html(data);
          $(window).trigger('resize');
        });
      });

  - when :schedule_verification
    javascript:
      $("#verification_btn").on("click", function(){
        $(".modal-content").html("");
        $.get('#{eval("interpret_#{owner_class}_path(owner, act: :schedule_verification)")}', function(data){
          $(".modal-content").html(data);
          $(window).trigger('resize');
        });
      });

  - when :set_alert
    javascript:
      $('#alert_btn').on('click', function(){
        $.get('#{new_notice_path(owner_type: owner.class.name, owner_id: owner)}',
          function(data){
            $(".modal-content").html(data);
            $(window).trigger('resize');
        });
      });

  - when :sign
    javascript:
      $('#sign_btn').on('click',function(){
        $(".modal-content").html("");
        $.get('#{eval("interpret_#{owner_class}_path(owner, act: :sign)")}',function(data){
          $(".modal-content").html(data);
          $(window).trigger('resize');
        });
      });

  - when :task
    javascript:
      $('#task_btn').on('click',function(){
        $.get('#{eval("interpret_#{owner_class}_path(owner, act: :task)")}',function(data){
          $(".modal-content").html(data);
          $(window).trigger('resize');
        });
      });
