<script type="text/javascript" src="/javascripts/utility/format-builder.js"></script>
<%=form_for @owner do |x|%>
  <%=x.fields_for :tasks,@task do |f|%>
    <div class="panel-warning">
      <div class="panel-heading">
        <div class="panel-title">New Task
        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove"></span></button></div>
      </div>
      <div class="panel-body" style="max-height: calc(100vh - 210px);overflow-y:auto">
        <div class="row">
          <%fields = SmsTask.get_meta_fields('form')%>
          <%=render '/forms/form_fields',
            :f=> f,
            :fields => fields,
            :record => @task
          %>

        </div>
        <%=x.submit "Save",:class=>"btn btn-success pull-right mt5", disable_with: "Saving..."%>
      </div>
    </div>
  <%end%>
<%end%>


<script>
  $(document).ready(function(){

  });
</script>
