ruby:
  if owner.status == 'Published' && current_user.id != owner.user_id
    checklists = Completion.where({owner_id: owner.id, owner_type: "SafetySurvey", user_id: current_user.id}).first.checklist rescue nil
  else
    checklists = owner.checklist rescue nil
  end

.col-xs-12
  .panel.panel-lightskyblue
    .panel-heading.click-heading.collapsed
      .panel-title
        | Checklist
        span class="pull-right clickable"
          i class="mt5 glyphicon glyphicon-chevron-down"

    .panel-body style="display:none"

      - if owner.status == 'New' && owner.checklist.nil?
        = link_to 'Add New Checklist', '#',
          class: 'btn btn-success pull-right mr5 mb10',
          id: 'upload_btn',
          'data-toggle' => 'modal',
          'data-target' => '.bs-example-modal-lg'

      .col-xs-12

        ul class="nav nav-tabs"
          - Array(checklists).each_with_index do |checklist, index|
            - active = index == 0 ? 'active' : ''
            li class="#{active}"
              a class="#{active}" data-toggle="tab" href="#checklist-#{checklist.id}"
                = checklist.title

        .tab-content.mt20
          - Array(checklists).each_with_index do |checklist, index|
            - active = index == 0 ? 'active' : ''
            - @headers = checklist.get_headers
            - @contents = checklist.get_contents
            - @record = checklist
            .tab-pane id="checklist-#{checklist.id}" class="#{active}"


              b Assignees:
              = checklist.assignees.map(&:full_name).join(', ')

              - if owner.my_action(current_user.id) == "Not Completed"
                = link_to "Take Survey", address_checklist_path(checklist),
                  class: 'btn btn-success pull-right mr5'

              - if owner.status == 'New'
                = link_to "Edit", '#',
                  :class => 'btn btn-warning pull-right mr5 update_btn mb10',
                  'data-path' => edit_checklist_path(checklist),
                  'data-toggle' => 'modal',
                  'data-target' => '.bs-example-modal-lg'

              - if owner.status == 'New'
                = link_to "Delete", checklist_path(checklist),
                  :method => 'delete',
                  :confirm => 'Are you sure?',
                  :disable_with => 'Deleting...',
                  :class => 'btn btn-danger pull-right mr5 mb10'

              - if owner.my_action(current_user.id) == "Creator"
                = link_to "Export CSV", export_checklist_path(checklist, format: "csv"),
                  class: "btn btn-success pull-right mr5 mb10",
                  target: "_blank"

              - if checklist.table_view
                = render '/checklists/checklist_table', checklist: checklist, owner: owner
              - else
                = render '/checklists/page_view', checklist: checklist


javascript:
  $(function(){
    $('#upload_btn').on('click',function(){
      $.get("#{new_checklist_path(owner_type: owner.class.name, owner_id: owner.id)}", function(data){
        $(".modal-content").html('');
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });

    $('.start_btn').on('click',function(){
      var path = $(this).data("path");
      $.get(path, function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });

    $('.update_btn').on('click',function(){
      var path = $(this).data("path");
      $.get(path, function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });

  });
