<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading click-heading collapsed">
      <div class="panel-title">
        Responses and Response Distribution
        <button type="button"
          class="close pull-right close_responses_swal"
          aria-label="Close">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
    </div>

    <div class="panel-body">
      <%if @grouped_responses.present?%>
        <div class="mt10 mb10 mr10">
          <b style="font-size:18px;text-decoration: underline;">GROUPED RESPONSES</b>
        </div>
        <div class="table-responsive distribution_table mb10">
          <table style="width:100%"
            class="table table-bordered table-striped distribution_results_table">
            <thead>
              <tr>
                <th style="width:60%">Response</th>
                <th style="width:40%"># of Users</th>
              </tr>
            </thead>
            <tbody>
              <%@grouped_responses.each do |k,v|%>
                <tr>
                  <td><%=k%></td>
                  <td><%=link_to v.split(',').count,
                         "#",
                         class: "users_link",
                         "data-list" => v%>
                  </td>
                </tr>
              <%end%>
            </tbody>
          </table>
        </div>
      <%end%>

      <%if @user_responses.present?%>
        <div class="mt20 mb10 mr10">
          <b style="font-size:18px;text-decoration: underline;">ALL USER RESPONSES</b>
        </div>
        <div class="table-responsive responses_table mt10">
          <table style="width:100%"
            class="table table-bordered table-striped responses_results_table">
            <thead>
              <tr>
                <th style="width:60%">User</th>
                <th style="width:40%">Response</th>
              </tr>
            </thead>
            <tbody>
              <%@user_responses.each do |k,v|%>
                <tr>
                  <td><%=k%></td>
                  <td><%=v%></td>
                </tr>
              <%end%>
            </tbody>
          </table>
        </div>
      <%end%>
    </div>
  </div>
</div>
