<%if @users.present?%>
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading click-heading collapsed">
        <div class="panel-title">
          User List
          <button type="button"
            class="close pull-right close_user_swal"
            aria-label="Close">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>
      </div>

      <div class="panel-body" style="max-height:500px;overflow-y:auto">
        <div class="table-responsive">
          <table style="width:100%"
            class="table table-bordered table-striped user-list-table">
            <thead>
              <tr>
                <th style="width:10%">ID</th>
                <th style="width:45%">Name</th>
                <th style="width:45%">Employee Number</th>
              </tr>
            </thead>
            <tbody>
              <%@users.each do |u|%>
                <tr>
                  <td><%=u.id%></td>
                  <td><%=u.full_name%></td>
                  <td><%=u.employee_number%></td>
                </tr>
              <%end%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<%end%>
