css:
  .hidden-file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

.to-delete.attachment-item.mb10 align='center'
  = f.file_field :name, id: 'new_attachments',
    class: 'hidden-file-input'
  label.mt10.btn.btn-info for='new_attachments' Upload File
  = f.text_field :caption,
    placeholder: 'Caption',
    class: 'form-control mt10'
  = link_to 'Delete', '#',
    class: 'btn btn-danger attachment-delete mt10'
