table.table.table-bordered.table-striped.mt10 id="checklist_records_#{checklist.id}"
  thead
    tr
      - checklist.checklist_header.checklist_header_items.order('display_order').each do |header|
        th style="#{header.size.present? ? "width: #{header.size}%" : ''}"
          = header.title
      th Attachments
      th Findings
  tbody
    - checklist.checklist_rows.order(:id).each do |checklist_row|
      tr class="#{checklist_row.is_header ? 'header-row' : ''}"
        - checklist_row.checklist_cells.order{ |x| x.checklist_header_item.display_order }.each do |checklist_cell|
          td
            = render 'checklist_headers/preview_field',
              owner_type: checklist.owner_type,
              cell: checklist_cell,
              item: checklist_cell.checklist_header_item
        td
          - unless checklist_row.is_header?
            = render 'forms/attachments_show_mini', owner: checklist_row
        td
          - unless checklist_row.is_header?
            = link_to '',
              '#',
              class: 'btn btn-success pull-right mr5 mb5 glyphicon glyphicon-plus new_finding_btn',
              id: checklist_row.id,
              "data-toggle"=>"tooltip", "data-placement"=>"top", "title"=>"Add Finding",
              "data-toggle"=>"modal","data-target"=>".bs-example-modal-lg"
            = link_to '',
              '#',
              class: 'btn btn-info pull-right mr5 mb5 glyphicon glyphicon-list show_finding_btn',
              id: checklist_row.id,
              "data-toggle"=>"tooltip", "data-placement"=>"top", "title"=>"Show Findings",
              "data-toggle"=>"modal","data-target"=>".bs-example-modal-lg"

javascript:
  $('.show_finding_btn').on('click',function(){
    $.get("#{show_finding_audit_path}?checklist_row_id="+$(this).attr("id"), function(data){
      $(".modal-content").html(data);
      $(window).trigger('resize');
    });
  });

  $('.new_finding_btn').on('click',function(){
    $.get("#{new_finding_path(checklist)}?owner_id="+$(this).attr("id")+"&owner_type=ChecklistRow&modal=true", function(data){
      $(".modal-content").html(data);
      $(window).trigger('resize');
    });
  });

/new_finding_path(#{checklist_row})

/new_finding_path( owner_id: checklist_row.id, owner_type: checklist_row.class.name )
