<div class="col-xs-12">
  <div class="span4 collapse-group">
    <a class="btn" data-toggle="collapse" data-target="#viewinstructions">View Instructions &raquo;</a>
    <div class="collapse" id="viewinstructions">
      <div class="col-xs-12">
        <div class="col-xs-12 well">
          <ul>
            <li>
              Checklist Header - determines detail about the checklist columns, such as name, type, or options. 
            </li>
            <li>
              Checklist Template - provides a template with sample checklist rows that address the Checklist Headers.
            </li>                
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
