table.table.table-bordered.table-striped.mt10 id="page-view-#{checklist.id}"
  thead
    tr
      th Page View
      th Attachments
      th Findings
  tbody
    - @contents.each_with_index do |content, index|
      tr
        - checklist_row = checklist.checklist_rows.order(:id)[index]
        - display_content = ''
        - @headers.each do |header|
          - data_type = checklist_row.checklist_cells.where(checklist_header_item_id: header.id).first.data_type

          - if content[header.id].present?
            - case data_type 
            - when 'employee'
              - input = User.find(content[header.id]).full_name
            - when 'checkboxes', 'checkboxes-custom'
              - input = content[header.id].gsub(";", '<br/>');
            - else
              - input = content[header.id]
              
            - display_content +=  '<strong>' + header.title + '</strong>' + ':<br/>' + input +'<br><br>'
        td
          = display_content.gsub(/\n/, '<br/>').html_safe rescue ''
        td
          - if checklist_row.present?
            = render 'forms/attachments_show_mini', owner: checklist_row
        td
          - if checklist_row.present?
            = checklist_row.display_findings
            - if @owner.status != 'Completed' && current_user.has_access(@owner.rule_name, 'edit', admin: CONFIG::GENERAL[:global_admin_default])
              = link_to '',
                new_finding_path( owner_id: checklist_row.id, owner_type: checklist_row.class.name ),
                class: 'btn btn-success pull-right mr5 mb5 glyphicon glyphicon-plus new_finding_btn',
                id: checklist_row.id,
                "data-toggle"=>"tooltip", "data-placement"=>"top", "title"=>"Add Finding"
            /= link_to '',
              '#',
              class: 'btn btn-info pull-right mr5 mb5 glyphicon glyphicon-list show_finding_btn',
              id: checklist_row.id,
              "data-toggle"=>"tooltip", "data-placement"=>"top", "title"=>"Show Findings",
              "data-toggle"=>"modal","data-target"=>".bs-example-modal-lg"

javascript:
  $(document).on('click', '.show_finding_btn', function(e) {
    $.get("#{show_finding_audit_path}?checklist_row_id="+$(this).attr("id"), function(data){
      $(".modal-content").html(data);
      $(window).trigger('resize');
    });
  });

  $(document).on('click', '.new_finding_btn', function(e) {
    $.get("#{new_finding_path(@record)}?owner_id="+$(this).attr("id")+"&owner_type=ChecklistRow&modal=true", function(data){
      $(".modal-content").html(data);
      $(window).trigger('resize');
    });
  });

  $(function(){
    $("#page-view-#{checklist.id}").DataTable({
      "aaSorting": [],
      "aLengthMenu": [[1, -1], [1, "All"]],
      "iDisplayLength": 1,
    })
  });
