ruby:
  checklists = owner.checklists.includes(
                      checklist_rows: { checklist_cells: :checklist_header_item },
                      checklist_header: :checklist_header_items)

.col-xs-12
  .panel.panel-lightskyblue
    .panel-heading.click-heading.collapsed
      .panel-title
        | Checklists
        span class="pull-right clickable"
          i class="mt5 glyphicon glyphicon-chevron-down"

    .panel-body style="display:none"

      - if owner.status != 'Completed' && current_user.has_access('checklists','add', admin: CONFIG::GENERAL[:global_admin_default])
        = link_to 'Add New Checklist', '#',
          class: 'btn btn-success pull-right mr5 mb10',
          id: 'upload_btn',
          'data-toggle' => 'modal',
          'data-target' => '.bs-example-modal-lg'

      .col-xs-12

        ul class="nav nav-tabs"
          - checklists.each_with_index do |checklist, index|
            - active = index == 0 ? 'active' : ''
            li class="#{active}"
              a class="#{active}" data-toggle="tab" href="#checklist-#{checklist.id}"
                = checklist.title

        .tab-content.mt20
          - checklists.each_with_index do |checklist, index|
            - active = index == 0 ? 'active' : ''
            - @headers = checklist.get_headers
            - @contents = checklist.get_contents
            - @record = checklist
            .tab-pane id="checklist-#{checklist.id}" class="#{active}"


              b Assignees:
              = checklist.assignees.map(&:full_name).join(', ')

              - if owner.status != 'Completed' && (\
                current_user.has_access(owner.class.table_name,'admin', admin: CONFIG::GENERAL[:global_admin_default]) || \
                owner.responsible_user_id == current_user.id)
                = link_to "Address", address_checklist_path(checklist),
                  class: 'btn btn-success pull-right mr5'

              - if owner.status != 'Completed' && current_user.has_access('checklists','edit', admin: CONFIG::GENERAL[:global_admin_default])

                = link_to "Edit", '#',
                  :class => 'btn btn-warning pull-right mr5 update_btn',
                  'data-path' => edit_checklist_path(checklist),
                  'data-toggle' => 'modal',
                  'data-target' => '.bs-example-modal-lg'

              - if owner.status != 'Completed' && current_user.has_access('checklists','destroy', admin: CONFIG::GENERAL[:global_admin_default])
                = link_to "Delete", checklist_path(checklist),
                  :method => 'delete',
                  :confirm => 'Are you sure?',
                  :disable_with => 'Deleting...',
                  :class => 'btn btn-danger pull-right mr5'

              = link_to "Export CSV", export_checklist_path(checklist, format: "csv"),
                class: "btn btn-success pull-right mr5 mb10",
                target: "_blank"

              - if checklist.table_view
                = render '/checklists/checklist_table', checklist: checklist, owner: owner
              - else
                = render '/checklists/page_view', checklist: checklist


javascript:
  $(function(){
    $('#upload_btn').on('click',function(){
      $.get("#{new_checklist_path(owner_type: owner.class.name, owner_id: owner.id)}", function(data){
        $(".modal-content").html('');
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });

    $('.start_btn').on('click',function(){
      var path = $(this).data("path");
      $.get(path, function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });

    $('.update_btn').on('click',function(){
      var path = $(this).data("path");
      $.get(path, function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });

  });
