<div class="item active mt50" style="height:auto;">
  <div class="grid per90 center-block">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title">
          <b>Start New Checklist to be Tied-In to an Audit</b>
        </div>
      </div>
      <div class="panel-body" id="form_body">
        <%= form_tag address_raw_checklists_path,{:method=>"get",:class=>"form-inline"} do%>
          <center>
            <div class="form-group form-inline">
              <%=label_tag :type,  "Select Checklist Template"%>
              <%=select_tag :template, options_from_collection_for_select(@checklist_template_list,'id','title'), {:class=>"ml5 form-control"}%>
            </div>
              <%= submit_tag "Start", class:"ml5 btn btn-xl btn-success", disable_with: "Starting..."%>
          </center>
        <%end%>
      </div>
    </div>
  </div>
</div>
