<div class="title">
	Contact #<%=owner.id%> 
	<%=owner.contact_name%>
</div>
<div class="content">
	<%fields = Contact.get_meta_fields('show')%>
	<%=render "forms/print_fields", 
		:fields => fields, 
		:owner => owner%>
</div>
