<script type="text/javascript" src="/javascripts/utility/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/javascripts/utility/format-builder.js"></script>
<script type="text/javascript" src="/javascripts/utility/delete.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/datepicker.css"/>
    
<div class="col-lg-12">
  <div class="panel panel-success">
    <div class="panel-heading">
      <div class="panel-title"><b>Query Statements</b></div>
    </div>
    <div class="panel-body">
      <%=form_tag "search",:method=>"post" do%>
        <div id="to_insert_base" class="row"></div>
        <div class="pull-right ml15"><%=submit_tag "Search",:class=>"pyll-right btn btn-info"%></div>
        <div class="pull-right"><%=link_to_add_blocks "Add New Condition","base","base"%></div>
      <%end%>
    </div>
  </div>
</div>


<script>
  function add_blocks(base_area, namespace, insert_space){
    var content = "<%=escape_javascript(render('block'))%>";
    var uid = new Date().getTime();
    var name_space = namespace + "[" + uid + "]";
    var regexp = new RegExp("name_space", "g");
    var regexp2 = new RegExp("insert_space", "g");
    var insertposition = $("#to_insert_" + insert_space);
    var deleteposition = $("#to_delete_" + insert_space);
    var insertspace=insert_space+"_"+uid;
    $(content.replace(regexp, name_space).replace(regexp2, insertspace)).appendTo(insertposition);
    $(deleteposition).remove();
    inject(insertspace);
  }



  function inject(insert_space){
    var id_space = "#" + insert_space;
    $(id_space + '.cat_select option').hide();
    $(id_space + '.field_select option').hide();
    $(".temp_select").on('change', function(){
      temp_id = $(this).val();
      $(id_space + '.field_select option').hide();
      $(id_space + '.cat_select').val("");
      $(id_space + '.field_select').val("");
      $(id_space + '.cat_select option').each(function(){
        cat_ids = $(this).val().split("-");
        cat_temp = cat_ids[0];
        if (cat_temp != temp_id){
          $(this).hide();
        }else{
          $(this).show();
        }
      });
    });
    $(".cat_select").on('change',function(){
      cat_id = $(this).val().split("-")[1];
      $(id_space + ".field_select").val("");
      $(id_space + ".field_select option").each(function(){
        field_cat = $(this).val().split("-")[0];
        if (field_cat != cat_id){
          $(this).hide();
        }else{
          $(this).show();
        }
      });
    });
  }
</script>