<div class="col-xs-12 mt10 to_delete">
  <div class="panel panel-lightsteelblue">
    <div class="panel-heading">
      <div class="panel-title">
        <div class="top_buttons pull-right">
          <span class="pull-right" onclick="removepanel(this)">
            <i class="glyphicon glyphicon-remove btn btn-danger"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="col-xs-12 row">
        <div id="threshold-alert">
          <div class="form-group">
            <div class = "col-6 form-inline">
              <%=label_tag :threshold, "Threshold"%>
              <%=text_field_tag "threshold-alert[threshold]", nil, {:class => "form-control ml5", :id => "threshold"}%>
            </div>
            <div class="col-xs-12">
              <%distros = @owner.distribution_list_ids%>
              <%@distribution_list.each do |key, title|%>
                <div>
                  <label class="checkbox">
                    <%=check_box_tag "threshold-alert[distros[#{title}]]", key, false, class: 'form-control'%>
                    <%=title%>
                  </label>
                </div>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<style>
  .required_label:after{
    content: " *";
    color: red;
    display: inline;
  }
</style>


<script>
  $(function(){

    $(document).on("change", "#field_select_all", function(){

      var field_name = $(this).val();
      var field_type = $("option[value='" + field_name + "']").data("fieldtype");
      var field_value = $(this).parent().parent().find(".field_value");
      var condition_type = $(this).parent().parent().find('.field-operator-all').val();

      var name = $(this).attr("name").replace("field", "value");

      var html = '<input class="form-control value_field" id="' + name + '" name="' + name + '" type="text">';

      if (field_type == "date" || field_type == "datetime") {
        $(field_value).html(html);
        if (condition_type == 'Last ( ) Days') {
          html = '<input class="form-control value_field" id="' + name + '" name="' + name + '" type="number">';
          $(field_value).html(html);
        } else if (condition_type == '>=' || condition_type == '<') {
          $(field_value).find(".value_field").flatpickr({
            mode: "single",
            dateFormat: 'Y-m-d',
          });
        } else {
          $(field_value).find(".value_field").flatpickr({
            mode: "range",
            dateFormat: 'Y-m-d',
          });
        }

      } else if (field_type == "boolean_box" || field_type == "boolean") {
        html = '<select class="form-control value_field" id="' + name + '" name="' + name + '">' +
          '<option value></option>' +
          '<option value="Yes">Yes</option>' +
          '<option value="No">No</option></select>';
        $(field_value).html(html);

      } else {
        $(field_value).html(html);
      }

    });


    $(document).on("change", ".field-operator-all", function(){
      let field_name = $(this).parent().parent().find("#field_select_all").val();
      let field_type = $("option[value='" + field_name + "']").data("fieldtype");
      let name = $(this).attr("name").replace("logic", "value");

      if (($(this).val() == '<' || $(this).val() == '>=') && (field_type == "date" || field_type == "datetime")) {
        let field_value = $(this).parent().parent().find(".field_value");
        $(field_value).find(".value_field").flatpickr({
          mode: "single",
          dateFormat: 'Y-m-d',
        });
      } else if ($(this).val() == 'Last ( ) Days' && (field_type == "date" || field_type == "datetime")){
        let field_value = $(this).parent().parent().find(".field_value");
        let html = '<input class="form-control value_field" id="' + name + '" name="' + name + '" type="number">';
        $(field_value).html(html);
      } else if (($(this).val() != '<' && $(this).val() != '>=' && $(this).val() != 'Last ( ) Days') && (field_type == "date" || field_type == "datetime")) {
        let field_value = $(this).parent().parent().find(".field_value");
        $(field_value).find(".value_field").flatpickr({
          mode: "range",
          dateFormat: 'Y-m-d',
        });
      }
    });
  });
</script>
