= javascript_include_tag 'https://www.gstatic.com/charts/loader.js'
h3: b Query Detail
- Query.get_meta_fields('show').each do |field|
  - unless (['get_target', 'threshold'].include? field[:field])
    .col-xs-12
      .sub_sub_title
        b = "#{field[:title]}:"
      - if field[:field] == "distribution_list_ids"
        - distros = field[:options].select {|d| owner.distribution_list_ids.include? d[1]}
        - distros = distros.map {|d| d[0]}
        - distros = distros.join(", ")
        = distros
      - else
        = owner.send(field[:field])

.col-xs-12
  .sub_sub_title = "Conditions"
  .tree
    ul
      - owner.query_conditions.each_with_index do |condition, index|
        = render 'condition', condition: condition, index: index

h3: b Visualizations

.col-xs-12
  - records_ids = get_query_results_ids_helper(owner.id)
  - visualizations.each do |visualization|
    - data = generate_visualization_helper(owner.id, visualization.x_axis, visualization.series, records_ids)
    - if data.present?
      .col-xs-12
        hr
        .sub_sub_title
          <p><b> X-Axis: </b> #{visualization_title_helper(visualization.x_axis, visualization.series)}</p>
          <p><b> Threshold on X-Axis:</b> #{visualization.threshold}</p>
        hr
        br
        .col-xs-12
          table.table.table-striped.bordered
            thead
              - data[0].each do |header|
                th = header
            tbody
              - data[1..-1].each do |row|
                tr
                  - row.each do |value|
                    - if (row[1] >= visualization.threshold)
                      td
                        u = value
                    - else
                      td = value



css:
  .condition_badge {
    font-size: 15px !important;
    border: none !important;
    color: black;
  }
  .tree {
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
    background-color:white;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
  }
  .tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
  }
  .tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
  }
  .tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
  }
  .tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
  }
  .tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
  }
  .tree li.parent_li>span {
    cursor:pointer
  }
  .tree>ul>li::before, .tree>ul>li::after {
    border:0
  }
  .tree li:last-child::before {
    height:30px
  }
  .tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
  }
