<div class="col-sm-12 col-md-12 col-lg-12">
  <div class="panel panel-lightskyblue">
    <div class="panel-heading click-heading collapsed">
      <div class="panel-title">
        <b>Corrective Actions</b>
        <span class="pull-right clickable">
          <i class="mt5 glyphicon glyphicon-chevron-down"></i>
        </span>
      </div>
    </div>
    <div class="panel-body" style='display:none'>
      <div class="row">
        <div class="col-xs-12">
          <%@asap_events.each do |event|%>
            <%if event.corrective_actions.length > 0%>
              <div class="col-xs-12">
                <hr>
                <b><%=link_to "Event ##{event.id}, #{event.name}", report_path(event)%></b> -
                <%=event.narrative%>
                <%event.corrective_actions.each do |car|%>
                  <div class='col-xs-12'>
                    <%=link_to "Corrective Action ##{car.id}, #{car.action}", corrective_action_path(car)%> -
                    <%=car.description%>
                  </div>
                <%end%>
              </div>
            <%end%>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>



