<div class="col-sm-12 col-md-12 col-lg-12">
  <div class="panel panel-lightskyblue">
    <div class="panel-heading click-heading">
      <div class="panel-title">
        <b>Statistics</b>
        <span class="pull-right clickable">
          <i class="mt5 glyphicon glyphicon-chevron-up"></i>
        </span>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <%FaaReport.get_stats.each do |stat|%>
          <div class="col-xs-12">
            <b><%=stat[:title]%>:</b>
            <%if stat[:link]%>
              <b>
                <%result = @report.send(stat[:value])[stat[:value_key].to_sym]%>
                <%=link_to "#{result.length}",
                  '#',
                  :class => 'report_link',
                  'data-toggle' => 'modal',
                  'data-target' => '.bs-example-modal-lg',
                  'data-title' => stat[:title],
                  'data-reports' => result,
                  :mode => stat[:mode]%></b>
            <%else%>
              <%=@report.send(stat[:value])%>
            <%end%>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>

<script>
  $(function(){
    $(".report_link").on("click",function(){
      $.get("<%=reports_table_faa_report_path(@report)%>?" +
        "title=" + $(this).data('title') +
        "&reports=" + $(this).data('reports'), function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });
    });
  });
</script>
