<div class="panel-warning">
  <div class="panel-heading">
    <div class="panel-title"><%=@title%>
      <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
  </div>
  <div class="panel-body" style="max-height: calc(100vh - 210px);overflow-y:auto" id="form_body">
    <div class="row">
      <div class="col-sm-12">
        <div class="table-responsive">
          <%= render '/forms/render_index_tab'%>
        </div>
      </div>
    </div>
  </div>
</div>
