<script type="text/javascript" src="/javascripts/utility/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/utility/dataTables.buttons.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/dataTables.bootstrap.min.css"/>
<script type="text/javascript" src="/javascripts/messages/recipients-control.js"></script>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      To
    </div>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table id="recipients" class="table table-bordered">
        <thead>
          <tr>
            <%@headers.each do |header|%>
              <th class="<%=header[:size]%>">
                <%=header[:title]%>
              </th>
            <%end%>
            <th>Add</th>
          </tr>
        </thead>
        <tbody>
          <%@users.each_with_index do |user, index|%>
            <tr user="<%=user.id%>">
              <%@headers.each do |header|%>
                <td><%=user.send(header[:field])%></td>
              <%end%>
              <td align="center">
                <%if @distribution_list_users.include?(user.id)%>
                  <a class="btn btn-danger enabled send_btn">Added</a>
                <%else%>
                  <a class="btn btn-transparent send_btn">Add</a>
                <%end%>
              </td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function() {
    $("#recipients").on('click','.send_btn',function() {
      $(this).toggleClass('enabled');
      if ($(this).hasClass('enabled')) {
        $(this).text('Added');
      } else {
        $(this).text('Add');
      }
    });
  });
</script>
