.panel.panel-success
  .panel-heading
    .panel-title
      .top_text
        = @after_title
      / switch btns
      - case session[:mode]
      - when 'ASAP'
        .top_buttons.pull-right
          b = link_to 'Events', '#', class: 'btn btn-info show_record', id: 'after_switch'
      - when 'SMS'
        .top_buttons.pull-right
          b = link_to 'Investigations', '#', class: 'btn btn-info show_finding', id: 'after_switch'
  .panel-body
    table.table.table-bordered.table-centered.table-hover id='after_matrix'
      thead
        tr
          /ROW_HEADER
          th.header
            = @risk_table[:row_header_name]
          /COLUMN_HEADER
          th.header colspan="#{@risk_table[:column_header].size}"
            = @risk_table[:column_header_name]
        tr
          th.col-header
          - @risk_table[:column_header].each do |col_header|
            th.col-header = col_header.html_safe
      tbody
        - @risk_table[:row_header].each_with_index do |row_header, row_index|
          tr
            th.row-header = row_header.html_safe
            - @risk_table[:column_header].each_with_index do |_, col_index|
              - @row = row_index
              - @col = col_index
              - @cell_bg_color = @risk_table[:rows_color][@row][@col]
              - case session[:mode]
              - when 'ASAP'
                = render 'risk_matrices/dashboard_matrix/mitigate/asap_td'
              - when 'SMS'
                = render 'risk_matrices/dashboard_matrix/mitigate/sms_td'
              - when 'SRM'
                = render 'risk_matrices/dashboard_matrix/mitigate/srm_td'

  .mr10 align='right'
    a href="#" id="after_export"
      u = 'Download Table'

css:
  .header {
    background-color: #BDB76B;
    color: white;
  }

  .col-header {
    background-color: #FFFFF0;
    width: 15%;
  }

  .row-header {
    background-color: #FFFFF0;
  }

javascript:
  $(document).ready(function() {

    $('#after_export').on('click', function() {
      event.preventDefault();

      html2canvas($('#after_matrix'), {
        onrendered: function(canvas) {
          var saveAs = function(uri, filename) {
            var link = document.createElement('a');
            if (typeof link.download === 'string') {
              document.body.appendChild(link); // Firefox requires the link to be in the body
              link.download = filename;
              link.href = uri;
              link.click();
              document.body.removeChild(link); // remove the link when done
            }else{
              location.replace(uri);
            }
          };

          var img = canvas.toDataURL("image/png"),
              uri = img.replace(/^data:image\/[^;]/, 'data:application/octet-stream');

          if ($("#after_switch").hasClass('show_finding')){
            saveAs(uri, 'Mitigated Risk Analysis-Findings.png');
          }else if($("#after_switch").hasClass('show_inv')){
            saveAs(uri, 'Mitigated Risk Analysis-Investigations.png');
          }else if($("#after_switch").hasClass('show_record')){
            saveAs(uri, 'Mitigated Risk Analysis-Reports.png');
          }else if($("#after_switch").hasClass('show_report')){
            saveAs(uri, 'Mitigated Risk Analysis-Events.png');
          }else {
            saveAs(uri, 'Mitigated Risk Analysis-Hazards.png');
          }
        }
      });
    });

    $("#after_switch").on('click',function(){
      // Safety Assurance Module
      if ($(this).hasClass('show_finding')){
        $(this).removeClass("show_finding").addClass("show_inv").text("Corrective Actions");
        $(this).closest('.panel-title').find('.top_text').html("<b>Mitigated Risk Analysis: Investigations</b>");
        $('.finding_after_cell').hide();
        $('.inv_after_cell').show();
      }
      else if($(this).hasClass("show_car")){
        $(this).removeClass("show_car").addClass("show_finding").text("Investigations");
        $(this).closest('.panel-title').find('.top_text').html("<b>Mitigated Risk Analysis: Findings</b>");
        $('.car_after_cell').hide();
        $('.finding_after_cell').show();
      }
      else if($(this).hasClass("show_inv")){
        $(this).removeClass("show_inv").addClass("show_car").text("Findings");
        $(this).closest('.panel-title').find('.top_text').html("<b>Mitigated Risk Analysis: Corrective Actions</b>");
        $('.inv_after_cell').hide();
        $('.car_after_cell').show();

      // Safety Reporting Module
      }
      else if($(this).hasClass("show_record")){
        $(this).removeClass("show_record").addClass("show_report").text("Reports");
        $(this).closest('.panel-title').find('.top_text').html("<b>Mitigated Risk Analysis: Events</b>");
        $('.record_after_cell').hide();
        $('.report_after_cell').show();
      }
      else if($(this).hasClass("show_report")){
        $(this).removeClass("show_report").addClass("show_record").text("Events");
        $(this).closest('.panel-title').find('.top_text').html("<b>Mitigated Risk Analysis: Reports</b>");
        $('.report_after_cell').hide();
        $('.record_after_cell').show();
      }

      event.preventDefault();
    });
  })
