ruby:
  @params.merge!({
    searchterm_1: is_row_probability? ? :likelihood_after : :severity_after, # row
    searchterm_2: is_row_probability? ? :severity_after : :likelihood_after, # col
    field_1: @row,
    field_2: @col
  })

  cell_url_to_findings       = findings_path(@params)
  cell_url_to_investigations = investigations_path(@params)
  cell_url_to_sms_actions    = sms_actions_path(@params)

td.color_cell.finding_after_cell href="#{cell_url_to_findings}" style="background: #{@cell_bg_color}"
  center
    b = @finding_after_matrix[@row][@col]

td.color_cell.inv_after_cell href="#{cell_url_to_investigations}" style="background: #{@cell_bg_color};display:none"
  center
    b = @inv_after_matrix[@row][@col]

td.color_cell.car_after_cell href="#{cell_url_to_sms_actions}" style="background: #{@cell_bg_color};display:none"
  center
    b = @car_after_matrix[@row][@col]
