<div class="col-sm-12 col-md-12 col-lg-12"%>
  <div class="panel panel-lightskyblue">
    <div class="panel-heading">
      <div class="panel-title">
        <b>Basic Info</b>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <%=render "forms/show_fields", :fields => @fields, :record => @report%>
        </div>
      </div>
    </div>
  </div>
</div>
