<div class="panel-info">
  <div class="panel-heading">
    <div class="panel-title">Narratives
      <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
  </div>
  <div class="panel-body">
    <div class="row" style="max-height:500px;overflow-y:auto;">
      <div class="form-group col-xs-12">
        <%@owner.records.each do |record|%>
          <h4><b>Report: #<%=record.id%></b></h4>
          <%if (current_user.has_template_access(record.template.name).include? 'viewer_template_id') ||
            ((current_user.has_template_access(record.template.name).include? 'viewer_template_deid') && record.viewer_access)%>
            <%record.record_fields.each do |x|%>
              <%if x.category.present? && x.display_type == 'textarea' && !x.value.nil? && !x.value.empty?%>
                <%
                  # NEED TO REFACTOR (MOVE TO MODEL)
                  nested_field_value = x.field.nested_field_value
                  parent_field = x.field.parent_field

                  if parent_field.present?
                    parent_value = record.record_fields.select { |record_field| record_field.field.id == parent_field.id }.first.value
                    next if nested_field_value != parent_value
                  end
                %>
                <b><%=x.field.label%></b></br>
                <%=x.value %> </br></br>
              <%end%>
            <%end%>
          <%else%>
            <font style='color:salmon'>You do not have access to view this report.</font>
          <%end%>

        <%end%>
      </div>
    </div>
  </div>
</div>

