<div class="panel-warning">
  <div class="panel-heading">
    <div class="panel-title">Narratives
      <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
  </div>
  <div class="panel-body">
    <div class="row" style="max-height:500px;overflow-y:auto;">
      <div class="form-group col-xs-12">
        <%@owner.records.each do |record|%>
          <h4><b>Report: #<%=record.id%></b></h4>
          <%if (current_user.has_template_access(record.template.name).include? 'full') ||
            ((current_user.has_template_access(record.template.name).include? 'viewer') && record.viewer_access)%>
            <%record.record_fields.each do |x|%>
              <%if x.category.present? && x.display_type == 'textarea' && !x.value.nil? && !x.value.empty?%>
                <b><%=x.field.label%></b></br>
                <%=x.value %> </br></br>
              <%end%>
            <%end%>
          <%else%>
            <font style='color:salmon'>You do not have access to view this report.</font>
          <%end%>

        <%end%>
      </div>
    </div>
  </div>
</div>

