<div class="col-xs-12">
	<div class="panel panel-default">
	    <div class="panel-heading click-heading collapsed">
	      <div class="panel-title">
	        <b>Transactions</b><span class="pull-right clickable"><i class="mt5 glyphicon glyphicon-chevron-down"></i></span>
	      </div> 
	    </div>
        <div class="panel-body" style="display:none">
        	<div class="table-responsive">
	      		<table class="table table-bordered">
	        		<thead>
	        			<tr>
	        				<th style="width:15%">Date/Time</th>
	        				<th style="width:15%">User</th>
	        				<th style="width:15%">Action</th>
	        				<th>Content</th>
	        			</tr>
	        		</thead>
	        		<tbody>
	        			<%@report.transactions.reverse!.each do |t|%>	
	        				<tr>
	        					<td><%=t.stamp.strftime("%Y-%m-%d %H:%M")%></td>
	        					<td><%=t.user.full_name%></td>
	        					<td><%=t.action%></td>
	        					<th style="text-align:left"><%=t.content%></th>
	        				</tr>
	        			<%end%>
	        		</tbody>
	        	</table>
	        </div>
		</div>
	</div>
</div>

