<div class="item active mt50" style="height:auto;">
	<div class="grid per90 center-block">
		<%=render "records/record_table"%>
	</div>
</div>
<script>
	$(document).ready(function(){
		$('#adv').on('click',function(){
			$.get("<%=advanced_search_reports_path%>", {summary: true, date_filter: true}, function(data){
				$(".modal-content").html(data);
				$(window).resize();
			});
		});
	})
</script>