<div class="panel-warning">
  <div class="panel-heading">
    <div class="panel-title">
      Link
      <button type="button"
        class="close pull-right"
        data-dismiss="modal"
        aria-label="Close">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
  </div>

  <div class="panel-body" style="max-height:500px;overflow-y:auto">
    <div class="row">
      <div class="form-group form-inline col-xs-6">
        <div class="form-group col-xs-12">

          <label for="objects">Select an item to link: </label>

          <select name="objects" id="objects" class="field_select form-control">
            <%= options_for_select(@objects) %>
          </select>

        </div>
      </div>
    </div>

    <%= link_to 'Show Items To Link',
        '#',
        id: "link_btn",
        class: "btn btn-warning pull-right mt5",
        disable_with: 'Retrieving Items...' %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){

    $('#link_btn').on('click',function(){
      let object = document.querySelector('#objects option:checked').value
      let url = "<%=eval("items_to_link_#{params[:controller].singularize}_path(@owner)")%>" + '?commit=show_items_to_link&type=' + object;
      $.get(url,function(data){
        $(".modal-content").html(data);
        $(window).trigger('resize');
      });

    });
  });
</script>
