<!DOCTYPE html PUBLIC "-//W3c//DTD XHTML 1.0 Transitional//EN"
       "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
      <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
      <%if session[:mode] == "ASAP"%>
          <title>ProSafeT Safety Reporting</title>
      <%elsif session[:mode] == "SMS"%>
          <title>ProSafeT Safety Assurance</title>
      <%elsif session[:mode] == "SMS IM"%>
          <title>ProSafeT SMS IM</title>
      <%elsif session[:mode] == "SRM"%>
          <title>ProSafeT SRA (SRM)</title>
      <%end%>
      <%= csrf_meta_tag %>
      <!-- Mobile specific metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no">
      <!-- Force IE9 to render in normal mode -->
      <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
      <meta name="author" content="" />
      <meta name="description" content="" />
      <meta name="keywords" content="" />
      <meta name="application-name" content="" />
      <!-- Import google fonts - Heading first/ text second -->
      <link href='https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700' rel='stylesheet' type='text/css'>
      <!-- Css files -->
      <!-- Icons -->
      <link href="/css/icons.css" rel="stylesheet" />
      <!-- Bootstrap stylesheets (included template modifications) -->
      <link href="/css/bootstrap.css" rel="stylesheet" />
      <!-- Plugins stylesheets (all plugin custom css) -->
      <link href="/css/plugins.css" rel="stylesheet" />

      <link href="/css/extrabutton.css" rel="stylesheet" />
      <link href="/css/extrapanel.css" rel="stylesheet" />
      <!-- Main stylesheets (template main css file) -->
      <link href="/css/main.css" rel="stylesheet" />
      <!-- Custom stylesheets ( Put your own changes here ) -->
      <link href="/audit_module_public/custom.css" rel="stylesheet" />
      <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
      <!-- Fav and touch icons -->
      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/ico/apple-touch-icon-144-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/ico/apple-touch-icon-72-precomposed.png">
      <link rel="apple-touch-icon-precomposed" href="/img/ico/apple-touch-icon-57-precomposed.png">
      <link rel="icon" href="/img/ico/favicon.ico" type="image/png">
      <!-- Windows8 touch icon ( http://www.buildmypinnedsite.com/ )-->
      <meta name="msapplication-TileColor" content="#3399cc" />
      <%=javascript_include_tag "application"%>

      <style type="text/css">
        .module_label {
          margin-top: 40px;
          margin-right:30px; 
          margin-bottom: 0px;
          height: 30px;
          padding: 10px;
          color: #808C99;
          font-size: 25px;
      }
        .non-link:hover{
          background-color:#f0ffff
        }
        .mt50{
          margin-top: :35px!important;
        }
        .dropdown-menu-header{
          background-color: #e7e7e7 !important;
        }
        .navbar-brand{
          padding: 7px 7px;
        }
        li{
          font-weight:bold;
        }
        .dropdown-menu > li > a {
          font-weight: bold;
        }
        .vertical-alignment-helper {
          display:table;
          height: 100%;
          width: 100%;
          pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
        }
        .vertical-align-center {
            /* To center vertically */
            display: table-cell;
            vertical-align: middle;
            pointer-events:none;
        }
        .modal-content {
            /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
            width:inherit;
            height:inherit;
            /* To center horizontally */
            margin: 0 auto;
            pointer-events: all;
        } 
        .navbar-collapse.in{
          overflow-y: visible;
        } 
/*        .dropdown-menu{
          width: 80%;
        }*/
        .navbar-nav .open .dropdown-menu{
          margin-left: 0px!important;
        }
        .btn {
          font-weight: bold!important;
        }
      </style>
  </head>

    <body>
    
      <!-- .page-navbar -->
      <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span> 
                </button>
                <a class="navbar-brand" href="<%=choose_module_home_index_path%>"><img src="/ProSafeT_logo_final.png" style="width:145px;height:35px"alt="Company Logo"/></a>

            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">

                  
                </ul>
                <ul class="nav navbar-nav navbar-right"> 
                  
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help<b class="caret"></b></a>
                      <ul class="dropdown-menu dropdown-notification messages">
                        
                        <li><a href ="https://support.prosafet.com" target="_blank">Support</a></li>
                      </ul>
                  </li>
                 
                </ul>
            </div>
          </div>
      </nav>

      <div class="module_label">
          <span class="pull-right">Reset Password</span>
      </div>
   
      <div id="page-header"></div>

      <!-- Javascripts -->
      <!-- Load pace first -->
      <script src="/plugins/core/pace/pace.min.js"></script>
      <!-- Important javascript libs(put in all pages) -->
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script>
      window.jQuery || document.write('<script src="/js/libs/jquery-2.1.1.min.js">\x3C/script>')
      </script>
      <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
      <script>
      window.jQuery || document.write('<script src="/js/libs/jquery-ui-1.10.4.min.js">\x3C/script>')
      </script>
      <!--[if lt IE 9]>
      <script type="text/javascript" src="js/libs/excanvas.min.js"></script>
      <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script type="text/javascript" src="js/libs/respond.min.js"></script>
      <![endif]-->
      <!-- Bootstrap plugins -->
      <script src="/js/bootstrap/bootstrap.min.js"></script>
      <!-- Core plugins ( not remove ) -->
      <script src="/js/libs/modernizr.custom.js"></script>
      <!-- Handle responsive view functions -->
      <script src="/js/jRespond.min.js"></script>
      <!-- Custom scroll for sidebars,tables and etc. -->
      <script src="/plugins/core/slimscroll/jquery.slimscroll.min.js"></script>
      <script src="/plugins/core/slimscroll/jquery.slimscroll.horizontal.min.js"></script>
      <!-- Remove click delay in touch -->
      <script src="/plugins/core/fastclick/fastclick.js"></script>
      <!-- Increase jquery animation speed -->
      <script src="/plugins/core/velocity/jquery.velocity.min.js"></script>
      <!-- Quick search plugin (fast search for many widgets) -->
      <script src="/plugins/core/quicksearch/jquery.quicksearch.js"></script>
      <!-- Bootbox fast bootstrap modals -->
      <script src="/plugins/ui/bootbox/bootbox.js"></script>
  
      <!-- Necessary plugins -->
      <script src="/plugins/forms/checkall/jquery.checkAll.js"></script>
      <script src="/plugins/charts/sparklines/jquery.sparkline.min.js"></script>
      <script src="/plugins/ui/waypoint/waypoints.min.js"></script>
      <script src="/js/jquery.Dynamic.js"></script>
      <script src="/audit_module_public/main_alt.js"></script>
      <script type="text/javascript" src="/javascripts/jQuery-ujs.js"></script>
      <script src="/javascripts/utility/bootstrap.file-input.js"></script>
  
      <%= yield %>
  
      <!-- Additional plugins(necessary on most pages) -->
      <script src="/plugins/misc/touchpunch/jquery.ui.touch-punch.js"></script>
      <script src="/plugins/forms/bootstrap-datepicker/bootstrap-datepicker.js"></script>
      <script src="/js/libs/moment.js"></script>
      <script src="/plugins/forms/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
      <script type="text/javascript" src="/javascripts/utility/extra_fields.js"></script>
      <script src="/plugins/ui/bootstrap-sweetalert/sweet-alert.js"></script>

      <script>
        //Space pressed
        // $(document).keypress(function(e) {
        //     if (e.which == 32) {
        //       debugger;
        //     }
        // });
    
        $(".basic-datepicker").datepicker({format: "yyyy-mm-dd"}).on('focus', function() {$(this).trigger('blur');});
  
        $(".basic-datetimepicker")
            .datetimepicker({
              format: "YYYY-MM-DD HH:mm"
            })
          // .on('focus', function() {
          //  $(this).trigger('blur');
          // });
      </script>
  </body>
</html>
