- menu_items = CONFIG.sa::HIERARCHY[:menu_items].select{|key, item| item[:display].call(user: current_user)}
- menu_items.each do |key, item|
  - if item[:display].call(user: current_user)
    - if item[:subMenu].present?
      li class="dropdown"
        = link_to "#{item[:title]} <b class='caret'></b>".html_safe, '#', "data-toggle" => "dropdown"
        ul class="dropdown-menu dropdown-notification" role="menu"
          - item[:subMenu].each do |subItem|
            - if subItem[:display].call(user: current_user)
              - if subItem[:header]
                li = link_to subItem[:title], '#', class: "dropdown-menu-header", disabled: true
              - else
                li = link_to subItem[:title], eval(subItem[:path])
    - else
      - if item[:display].call(user: current_user)
        li = link_to item[:title], eval(item[:path])


